@import '~templates/mixins';
@import '~constants/consts';

.dropdown {
  @include width(250px, 320px);

  position: relative;
  z-index: 11;

  &__title {
    @include h3;

    margin-bottom: 5px;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    border-color: $dark-shade-25;
    box-sizing: border-box;
  }

  &_guests > &__wrapper {
    border-radius: 4px;
  }

  &_conveniences > &__wrapper {
    border-radius: 4px 4px 0 0;
  }

  &_size_s > &__wrapper {
    @include width(266px, 100%);
  }

  &_opened > &__wrapper {
    border-radius: 4px 4px 0 0;
    border-color: $dark-shade-50;
  }

  &__selection-container {
    position: relative;
    width: 100%;
    height: 44px;
    border-color: inherit;
    border-radius: inherit;
    box-sizing: border-box;
  }

  &__selection {
    @include one-hundred-width-and-height;
    @include body-font;

    display: inline-flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 15px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: inherit;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    cursor: pointer;
  }

  &__selection-container:hover > &__selection {
    border-color: $dark-shade-50;
  }

  &__arrow-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__arrow {
    @include arrow;
  }

  &__menu {
    display: none;
    position: absolute;
    width: inherit;
    padding-bottom: 6px;
    background: #fff;
    border: 1px solid $dark-shade-50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
  }

  &_opened > &__wrapper > &__menu {
    display: block;
  }

  &__selection-container:hover ~ &__menu {
    border-color: $dark-shade-50;
  }

  &__option {
    @include h3;
    @include flex-between-center;

    width: 100%;
    min-height: 30px;
    margin-top: 7px;
    padding-right: 7px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  &__counter {
    @include flex-between-center;

    min-width: 90px;
    height: 30px;
    border: none;
  }

  &__counter-value {
    @include h3;

    text-align: center;
    border: none;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__counter-decrement,
  &__counter-increment {
    @include inline-flex-center;

    width: 30px;
    height: 30px;
    color: $dark-shade-50;
    border: 1px solid $dark-shade-25;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__counter-decrement::after {
    content: '-';
  }

  &__counter-increment::after {
    content: '+';
  }

  &__counter-decrement:hover:not(&__counter-decrement_dim),
  &__counter-increment:hover:not(&__counter-decrement_dim) {
    background-color: $dark-shade-5;
  }

  &__counter-decrement_dim {
    color: $dark-shade-10;
    border: 1px solid $dark-shade-10;
    cursor: default;
  }

  &__buttons-container {
    @include flex-between-center;

    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 14px;
  }

  &__clear-button,
  &__apply-button {
    @include h3;

    color: $purple;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__clear-button {
    display: none;
    margin-right: auto;
  }
}
