@import '../../templates/vars-and-mixins';

.dropdown {
  position: relative;
  z-index: 10000;

  &__title {
    @include H3();
    margin: 0 0 5px 0;
  }

  &__wrapper {
    position: relative;
  }

  &__wrapper_opened {
    border-radius: 4px 4px 0 0;
    border: 1px solid $Dark-Shade-50;
  }

  &__wrapper_conveniences {
    border-radius: 4px 4px 0 0;
  }

  &__selection-container {
    position: relative;
    width: 320px;
    height: 44px;
  }

  &__selection {
    @include Body-font();
    @include one-hundred-width-and-height();
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      width: 260px;
      padding: 0 10px;
    }
  }

  &__arrow-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__arrow {
    @include arrow();
  }

  &__menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 44px;
    background: #fff;
    border: 1px solid $Dark-Shade-50;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    box-shadow: $dropdownShadow;
  }

  &__menu_visible {
    display: block;
  }

  &__option {
    @include H3();
    @include flex-between-center();
    width: 100%;
    height: 30px;
    margin-top: 7px;
    padding: 0 7px 0 15px;
    box-sizing: border-box;
  }

  &__counter {
    @include H3();
    @include flex-between-center();
    width: 75px;
    height: 30px;
    border: none;
  }

  &__counter-decrement, &__counter-increment {
    @include flex-center();
    width: 30px;
    height: 30px;
    padding: 0;
    color: $Dark-Shade-50;
    border: 1px solid $Dark-Shade-25;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__counter-decrement_dim {
    color: $Dark-Shade-10;
    border: 1px solid $Dark-Shade-10;
    cursor: default;
  }

  &__buttons-container {
    @include flex-between-center();
    margin: 22px 0 12px 0;
    padding: 0 7px 0 14px;
  }

  &__clear-button, &__apply-button {
    @include H3();
    color: $Purple;
    cursor: pointer;
    border: none;
    background: transparent;
  }

  &__clear-button {
    visibility: hidden;
    opacity: 0;
    transition: 0.9s;
  }

  &__clear-button_visible {
    visibility: visible;
    opacity: 1;
  }
}
