include ../../components/header/header
include ../../components/advantage-item/advantage-item
include ../../components/reserve-room-card/reserve-room-card
include ../../components/comment-block/comment-block
include ../../components/bullet-list/bullet-list
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile

mixin title(options)
  -
    if (!options)
      options = {};
  h2.room-details-block-title(style=options.style)!=options.text

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Room details, components, MetaLamp, education")
    meta(name="description" content="Отель Toxin, подобрать номер")
    title Room details
  body
    +header()
    section.room-details-background-container
      .room-details-background-photo
        label.room-details-background-photo__label
          input(class="room-details-background-photo__input" type="radio" name="room" checked)
          img(class="room-details-background-photo__image" src=require("../../img/room-photo1.jpg") alt="Room photo")
        label.photo-label
          input(class="room-details-background-photo__input" type="radio" name="room")
          img(class="room-details-background-photo__image photo__image_reversed" src=require("../../img/room-photo1-1.jpg") alt="Room photo")
        label.photo-label
          input(class="room-details-background-photo__input" type="radio" name="room")
          img(class="room-details-background-photo__image" src=require("../../img/room-photo1-2.jpg") alt="Room photo")
    
    main.room-details-main-container
      .room-details-main-wrapper 
        .room-details-advantages-container 
          +title({text: 'Сведения о номере'})
          article.room-details-advantages-wrapper
            .room-details-advantage-wrapper 
              +advantage-item({
                title: 'Комфорт', 
                description: 'Шумопоглощающие стены', 
                image: 'insert_emoticon.svg'
                })
            .room-details-advantage-wrapper 
              +advantage-item({
                title: 'Удобство', 
                description: 'Окно в каждой из спален', 
                image: 'location_city.svg'
                })
            .room-details-advantage-wrapper 
              +advantage-item({
                title: 'Уют', 
                description: 'Номер оснащён камином', 
                image: 'whatshot.svg',
                border: 'none'
                })

        article.room-details-doughnut-container
          +title({text: 'Впечатления от номера', style: {'margin-bottom': '16px'}})
          .room-details-doughnut-wrapper.js-room-details-doughnut-wrapper
            canvas.room-details-chart.js-room-details-chart(width="342" height="133")
        
        section.room-details-comments-container 
          .room-details-comments-title-wrapper 
            +title({text: 'Отзывы посетителей номера'})
            span.room-details-commenst-number-text 2 отзыва
          article.room-details-comment-wrapper
            +comment-block({
              image: 'image.jpg', 
              date: '5 дней назад', 
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 
              username: 'Мурад Сарафанов', 
              likeCount: 12, 
              isLiked: true
              })
          article.room-details-comment-wrapper
            +comment-block({
              image: 'image2.jpg', 
              date: 'Неделю назад', 
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', 
              username: 'Патрисия Стёклышкова', 
              likeCount: 2, 
              isLiked: false
              })

        article.room-details-bullet-list-container
          +title({text: 'Правила', style: {'margin': '0 0 18px 20px'}})
          .room-details-bullet-list-wrapper
            +bullet-list({bulletItems: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
        
        section.room-details-cancel-information-container
          +title({text: 'Отмена', style: {'margin-bottom': '20px'}})
          .room-details-cancel-information-text Бесплатная отмена в течение 48&nbsp;ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

      section.room-details-card-wrapper 
        .room-details-room-card-wrapper
          +reserve-room-card({
            dateFrom: 'new Date(2019, 7, 19)',
            dateTo: 'new Date(2019, 7, 23)',
            dropdownButtonsNum: [0, 1],
            dropdownClicksNum: [2, 1]
          })

    +footer()
    +footer-mobile()