@import '../../libs/air-datepicker/air-datepicker';
@import '../../components/logo/logo';
@import '../../components/button/button';
@import '../../components/header/header';
@import '../../components/advantage/advantage';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/dropdown/dropdown';
@import '../../components/reserve-card/reserve-card';
@import '../../components/like-button/like-button';
@import '../../components/comment/comment';
@import '../../components/bullet-list/bullet-list';
@import '../../components/subscription-text-field/subscription-text-field';
@import '../../components/social-icons/social-icons';
@import '../../components/footer/footer';
@import '../../components/footer-mobile/footer-mobile';
@import '../../templates/vars-and-mixins';

.room-details {
  &, &__body {
    @include Body-font();
    background-color: #fff;
  }

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__background-container {
    width: 100%;
    height: 485px;

    @include media-max($md) {
      height: 380px;
    }
  }

  &__background {
    @include one-hundred-width-and-height();
    display: flex;
    flex-wrap: wrap;

    @include media-max($md) {
      flex-direction: column;
      height: 380px;
    }
  }

  &__large-photo-wrapper {
    width: 67.2%;
    height: 100%;

    @include media-max($md) {
      width: 100%;
      height: 280px;
    }
  }

  &__small-photo-wrapper {
    width: 32.8%;
    height: 100%;

    @include media-max($md) {
      width: 100%;
      height: 100px;
    }
  }

  &__background-image {
    width: 100%;
    height: 50%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;

    @include media-max($md) {
      width: 50%;
      height: 100%;
    }
  }

  &__background-image_size_l {
    width: 100%;
    height: 100%;
  }

  &__main-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    max-width: $max-width;
    margin: 0 auto;
    padding: 70px 140px 62px 140px;
    border-bottom: 1px solid $Dark-Shade-5;
    box-sizing: border-box;

    @include media-max($xl) {
      padding: 50px 15px 62px 15px;
    }

    @include media-max($sm) {
      padding: 70px 5px 62px 5px;
    }
  }

  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 5;

    @include media-max($lg) {
      flex-basis: 100%;
    }
  }

  &__advantages-container {
    flex-basis: 43.6%;

    @include media-max($xl) {
      flex-basis: 100%;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__advantages-wrapper {
    max-width: 320px;
  }

  &__advantage-wrapper {
    margin-top: 26px;
  }

  &__advantage-wrapper:first-child {
    margin-top: 24px;
  }

  &__doughnut-container {
    position: relative;
    height: 180px;

    @include media-max($md) {
      flex-basis: 100%;
    }
  }

  &__doughnut-title-container {
    margin: 0 0 16px 22px;

    @include media-max($xl) {
      margin-left: 0;
    }
  }

  &__doughnut-wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media-max($md) {
      margin-top: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__chart-text-container {
    @include flex-center();
    position: absolute;
    width: 162px;

    @include media-max($sm) {
      width: 110px;
      margin-left: 0;
    }
  }

  &__chart-text {
    @include H3();
    max-width: 65px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $Purple;
  }

  &__chart-text-number {
    font-size: 24px;
    line-height: 29px;
  }

  &__comments-container {
    margin-top: 11px;
  }

  &__comment-wrapper {
    margin-bottom: 23px;
  }

  &__comments-title-information-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 2px 23px 0;

    @include media-max($sm) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0;
    }
  }

  &__comments-title-container {
    margin-bottom: 0;
    text-align: start;
    flex-basis: 80%;
  }

  &__title {
    @include H2();

    @include media-max($md) {
      margin-bottom: 10px;
      text-align: center;
      flex-basis: 100%;
    }
  }

  &__commenst-number-text {
    @include Body-font();
    display: inline-block;
    margin-top: 5px;
    line-height: 20px;
    color: $Dark-Shade-50;

    @include media-max($xxl) {
      margin-right: 15px;
    }

    @include media-max($md) {
      margin-bottom: 10px;
    }
  }

  &__rules-and-cancel-wrapper {
    display: flex;
    width: 100%;

    @include media-max($md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__bullet-list-container {
    margin-top: 10px;
    padding-right: 20px;
    flex-basis: 46.5%;

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: 100%;
      padding-right: 0;
    }
  }

  &__bullet-list-title-container {
    margin: 0 0 18px 20px;
  }

  &__bullet-list-wrapper {
    max-width: 260px;
  }

  &__cancel-information-container {
    margin-top: 10px;
    padding-right: 25px;
    flex-basis: 53.5%;

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      text-align: center;
    }

    @include media-max($sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__cancel-information-title-container {
    margin-bottom: 20px;
  }

  &__cancel-information-text {
    @include Body-font();
    max-width: 340px;
    line-height: 24px;
  }

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    @include media-max($lg) {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }
}