mixin pagination(options = {})
  .pagination
    .pagination__data-container.js-pagination__data-container
    .pagination__container.js-pagination__container
      span.pagination__text
        span.pagination__numbers.js-pagination__numbers=options.numbers
        span.pagination__total-number=' ' + options.totalNumber