mixin pagination()
  .pagination-wrapper
    .data-container.js-data-container
    .pagination-container.js-pagination-container
      span.pagination-text
        span.pagination-text__num.js-pagination-text__num 1 – 12
        span.pagination-text__total-num из 100+ вариантов аренды