@import '~templates/mixins';
@import '~constants/consts';

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 21px;

    @include media-max($xl) {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 12px;
    margin-bottom: 30px;
    list-style-type: none;

    &-item {
      margin-top: 10px;
      margin-right: 7px;
      margin-bottom: 11px;
    }

    &-link {
      display: inline-block;
      text-decoration: none;
    }
  }

  &__text {
    position: absolute;
    min-width: 200px;
    margin-top: 50px;
    text-align: center;
  }

  &__data-container {
    display: none;
    width: 100%;

    &_visible {
      display: block;
    }
  }
}