@import "../../components/header/header";
@import "../../components/room-search-card/room-search-card";
@import "../../components/footer/footer";
@import "../../components/footer-mobile/footer-mobile";

@font-face {
  font-family: 'Montserrat';
  src: 
  url('../../fonts/Montserrat-Bold.woff2') format('woff2'), 
  url('../../fonts/Montserrat-Bold.woff') format('woff'), 
  url('../../fonts/Montserrat-Bold.ttf') format('truetype'), 
  url('../../fonts/Montserrat-Bold.svg#Montserrat_Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: 
  url('../../fonts/Montserrat-Regular.woff2') format('woff2'), 
  url('../../fonts/Montserrat-Regular.woff') format('woff'), 
  url('../../fonts/Montserrat-Regular.ttf') format('truetype'), 
  url('../../fonts/Montserrat-Regular.svg#Montserrat_Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

.landing-page-container {
  max-width: 1920px;
  margin: 0 auto;
}

.landing-page-background-container {
  position: relative;
  width: 100%;
  background-image: url('../../img/landing-background.jpg');
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.landing-page-background-wrapper {
  padding: 0 140px;
  max-width: 1440px;
  min-height: 830px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    min-height: 600px;
    padding: 0 15px;
  }
}

.landing-page-room-search-card-container {
  padding-top: 70px;
}

.landing-page-background-description {
  position: absolute;
  max-width: 300px;
  padding: 0;
  margin-right: 0;
  bottom: 21px;
  right: 140px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    right: auto;
    padding: 25px;
  }
}
