include ../../components/header/header
include ../../components/search-card/search-card
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile
include ../../templates/vars-and-mixins


doctype html
html.landing-page(lang="ru")
  +pageBase({
    title: 'Landing page',
    keywords: 'Landing page, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body.landing-page__body
    .landing-page__wrapper
      +header()
      main.landing-page__background-container
        .landing-page__background-wrapper
          article.landing-page__search-card-container
            +search-card()
        p.landing-page__background-description Лучшие номера для вашей работы, отдыха и просто вдохновения
      +footer()
      +footer-mobile()