@import '~libs/air-datepicker/air-datepicker';
@import '~components/logo/logo';
@import '~components/button/button';
@import '~components/header/header';
@import '~components/date-dropdown/date-dropdown';
@import '~components/dropdown/dropdown';
@import '~components/search-card/search-card';
@import '~components/subscription-text-field/subscription-text-field';
@import '~components/social-icons/social-icons';
@import '~components/footer/footer';
@import '~components/footer-mobile/footer-mobile';
@import '~templates/vars-and-mixins';

.landing-page {
  &, &__body {
    @include body-font;

    background-color: #fff;
  }

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
	  flex-direction: column;
	  min-height: 100%;
  }

  &__background-container {
    @include background-position(cover);

    flex: 1 0 auto;
    position: relative;
    width: 100%;
    background-image: url('~img/landing-background.jpg');

    @include media-max($md) {
      display: flex;
      justify-content: center;
    }
  }

  &__background-wrapper {
    max-width: $max-width;
    min-height: 830px;
    padding: 0 140px;
    margin: 0 auto;
    box-sizing: border-box;

    @include media-max($md) {
      display: flex;
      justify-content: center;
      min-height: 600px;
      padding: 0 15px;
    }
  }

  &__search-card-container {
    padding-top: 70px;
  }

  &__background-description {
    @include body-font;

    position: absolute;
    bottom: 21px;
    right: 134px;
    max-width: 300px;
    line-height: 24px;
    text-align: right;
    box-sizing: border-box;

    @include media-max($md) {
      max-width: 100%;
      right: auto;
      padding: 25px;
    }
  }
}