extends ~pages-base/page-base
include ~components/search-card/search-card

block vars
  -
    const className = 'landing-page';
    const title = 'Landing page';
    const keywords = 'Landing page, components, MetaLamp, education';
    const description = 'Отель Toxin, подобрать номер';

block content
  main.landing-page__background-container
    .landing-page__background-wrapper
      article.landing-page__search-card-container
        +search-card()
    p.landing-page__background-description Лучшие номера для вашей работы, отдыха и просто вдохновения
