mixin rate-button(options = {})
  -
    let buttonNum = 0;
  .rate-button
    label.rate-button__stars-group
      while buttonNum < options.starsNumber
        - buttonNum++
        input.rate-button__radio(
          type="radio"
          name=options.name
          value=buttonNum
          checked=options.starsNumber - buttonNum + 1 === options.checkedButton
          )
