.rate-button {

  &__stars-group {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 116px;
    height: 20px;
  }

  &__radio {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-image: url('../../img/star-border.svg');
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  &__radio:checked, &__radio:checked ~ &__radio {
    background-image: url('../../img/star.svg');
    background-repeat: no-repeat;
  }
}