mixin rate-button(options = {})
  -
    let buttonNum = 0;
  div.rate-button
    span.rate-button__stars-group
      while buttonNum < options.starsNumber
        - buttonNum++
        if options.starsNumber - buttonNum + 1 === options.checkedButton
          input.rate-button__radio(type="radio" name=options.name value=buttonNum checked)
        else
          input.rate-button__radio(type="radio" name=options.name value=buttonNum)