@import '../../templates/vars-and-mixins';

.advantage {
  display: flex;
  width: 280px;
  padding-bottom: 24px;

  &_bordered {
    border-bottom: 1px solid $Dark-Shade-10;
  }

  &__icon {
    @include background-position(contain);
    min-width: 48px;
    // margin-left: 5px;
  }

  &__text {
    margin-left: 10px;
  }

  &__title {
    @include H2();
    margin: 0 0 5px 0;
    font-size: 14px;
  }

  &__description {
    @include Body-font();
  }
}
