mixin advantage(options = {})
  -
    let className = 'advantage';

    className += options.isBorder ? ' advantage_bordered' : '';

  div(class=className)
    .advantage__icon(style=`background-image: url(${require('~/icons/' + options.image)});`)
    .advantage__text
      .advantage__title=options.title
      .advantage__description=options.description