@import '../../templates/colors.scss';
@import '../../templates/fonts.scss';

.advantage-item {
  display: flex;
  width: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  &__icon {
    min-width: 48px;
    margin-left: 5px;
  }
  
  &__text {
    margin-left: 5px;
  }
  
  &__title {
    @include H2();
    margin: 0 0 5px 0;
    font-size: 14px;

  }
  
  &__description {
    @include Body-font();
  }
}
