.advantage-item {
  display: flex;
  width: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  &__icon {
    min-width: 48px;
    margin-left: 5px;
  }
  
  &__text {
    margin-left: 5px;
  }
  
  &__title {
    margin: 0 0 5px 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    font-weight: bold;
  }
  
  &__description {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
  }
}
