@import '../../templates/vars-and-mixins';

.radio-buttons {
  display: flex;

  &__label {
    @include Body-font();
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
  }

  &__input {
    width: 20px;
    height: 20px;
    margin: 0;
    box-sizing: border-box;
    margin-right: 10px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  &__custom-input {
    @include flex-center();
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid $Purple;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
  }

  &__custom-input:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__input:checked + &__custom-input:after {
    display: block;
    width: 12px;
    height: 12px;
    background: $gradient;
    border-radius: 10px;
  }
}