@import '../../templates/vars-and-mixins';

.radio-buttons {
  display: flex;

  &__label {
    @include Body-font();
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }

  &__label:hover > &__input:not(:checked) ~ &__text {
    color: $Dark-Shade-75;
  }

  &__label:hover > &__input:not(:checked) + &__custom-input {
    border: 1px solid $Dark-Shade-50;
  }

  &__input {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    opacity: 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
  }

  &__input:not(:checked) + &__custom-input {
    border: 1px solid $Dark-Shade-25;
  }

  &__input:not(:checked) ~ &__text {
    color: $Dark-Shade-50;
  }

  &__custom-input {
    @include flex-center();
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid $Purple;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 1;
  }

  &__custom-input:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__input:checked + &__custom-input:after {
    display: block;
    width: 12px;
    height: 12px;
    background: $gradient;
    border-radius: 10px;
  }
}