mixin radio-buttons(options)
  .radio-buttons
    label.radio-buttons__label(for="name")=options.radio_names[0]
      input.radio-buttons__input(type="radio" name="name" checked)
      span.radio-buttons__custom-input
    label.radio-buttons__label(for="name")=options.radio_names[1]
      input.radio-buttons__input(type="radio" name="name")
      span.radio-buttons__custom-input