mixin radio-buttons(options = {})
  -
    let i = 0;

  .radio-buttons
    while i < options.radioNames.length
      label.radio-buttons__label
        input.radio-buttons__input(type="radio" name="name" checked=options.checkedNumber === i)
        span.radio-buttons__custom-input
        span.radio-buttons__text=options.radioNames[i++]