include ../logo/logo
include ../social-icons/social-icons

mixin footer-mobile(options = {})
  -
    let className = 'footer-mobile'
    className += options.isVisible ? ' footer-mobile_visible' : ''

  div(class=className)
    +logo({isColorful: true})
    .footer-mobile__text Copyright &#169; 2018 Toxin отель. Все права защищены.
    .footer-mobile__icons-container
      +social-icons()