@import '../../templates/vars-and-mixins';

.footer-mobile {
  flex: 0 0 auto;
  display: none;
  background-color: #fff;
  @include width(320px, $md);
  min-height: 367px;

  &_visible {
    @include flex-center();
    flex-direction: column;
    width: 768px;
  }

  @include media-max($md) {
    @include flex-center();
    flex-direction: column;
  }

  &__text {
    @include Body-font();
    margin: 23px 0;
    line-height: 17px;
    text-align: center;
  }
}