@import '../../templates/vars-and-mixins.scss';
@import '../like-button/like-button';

.comment-block {
  max-width: 711px;
  min-width: 280px;
  box-sizing: border-box;

  &__user {
    display: flex;
  }

  &__like-button {
    margin-top: 2px;
  }

  &__comment {
    display: flex;
    margin: 9px 0 0 4px;
  }

  &__user-photo {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 10px $Dark-Shade-5;
  }

  &__user-info {
    padding-left: 10px;
  }

  &__username {
    @include H3();
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    color: $Dark-Shade-75;
    text-transform: none;
  }

  &__date {
    @include Body-font();
    line-height: 24px;
  }

  &__text {
    @include Body-font();
    padding: 0 0 0 15px;
    line-height: 24px;
  }
}