extends ~pages-base/page-base
include ~components/registration-card/registration-card
include ~components/sign-in-card/sign-in-card

block vars
  -
    const className = 'sign-in';
    const title = 'Sign in';
    const keywords = 'Sign in, components, MetaLamp, education';
    const description = 'Отель Toxin, подобрать номер';

block content
  main.sign-in__background-container
    .sign-in__card-wrapper
      +sign-in-card()