include ../../components/header/header
include ../../components/registration-card/registration-card
include ../../components/sign-in-card/sign-in-card
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile
include ../../templates/vars-and-mixins

doctype html
html(lang="en")
  +pageBase({
    title: 'Sign in',
    keywords: 'Sign in, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body
    .sign-in-wrapper
      +header()
      main.sign-in-background-container
        .sign-in-card-wrapper.js-sign-in-card-wrapper
          +sign-in-card()
      +footer()
      +footer-mobile()