@import '../../templates/vars-and-mixins';

.filled-button {
  @include H3();
  @include button-radius();
  width: 98px;
  height: 44px;
  color: #fff;
  background: $gradient;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &_size_l {
      width: 196px;
      height: 34px;
    }

    &__text {
      @include flex-center();
      @include one-hundred-width-and-height();
    }
}

.empty-button {
  @include button-radius();
  width: 86px;
  height: 34px;
  padding: 2px;
  background: $gradient;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;

  &_size_l {
    width: 98px;
    height: 45px;
  }

  &:hover {
    background: $semitransparentGradient;
  }

  &__background {
    @include H3();
    @include inline-flex-center();
    @include one-hundred-width-and-height();
    color: $Purple;
    background-color: #fff;
    border-radius: 22px;
    pointer-events: none;
    z-index: 2;
  }
}

.text-button {
  @include H3();
  border: none;
  background: none;
  color: $Purple;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: $Dark-Shade-50;
  }
}

.long-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  height: 44px;

  @media screen and (max-width: 480px) {
    width: 250px;
  }

  &__button {
    @include H3();
    @include one-hundred-width-and-height();
    @include button-radius();
    background: $gradient;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    @media screen and (max-width: 480px) {
      width: 250px;
    }
  }

  &__arrow {
    @include longButtonArrow;
  }
}

.long-link-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  height: 44px;

  @media screen and (max-width: 480px) {
    width: 250px;
  }

  &__link {
    @include H3();
    @include inline-flex-center();
    @include one-hundred-width-and-height();
    @include button-radius();
    padding: 0;
    background: $gradient;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;

    &:hover {
      opacity: 0.5;
    }

    @media screen and (max-width: 480px) {
      width: 250px;
    }
  }

  &__arrow {
    @include longButtonArrow;
  }
}