@import '../../templates/vars-and-mixins';

.button {
  &__base_filled {
    @include h3;
    @include inline-flex-center;
    @include button-radius;
    @include width(98px, 100%);

    height: 44px;
    padding: 10px;
    color: #fff;
    background: $gradient;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;

      &:hover, &.button__base_hovered {
        opacity: 0.5;
      }

      &.button__base_size_l {
        width: 196px;
        height: 34px;
      }
  }

  &__base_unfilled {
    @include button-radius;
    @include width(86px, 100%);

    display: inline-block;
    height: 34px;
    padding: 2px;
    background: $gradient;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;

    &.button__base_size_l {
      @include width(98px, 100%);

      height: 45px;
    }

    &.button__base_mobile {
      @include width(196px, 100%);

      height: 34px;
    }

    &:hover, &.button__base_hovered {
      background: $semitransparent-gradient;
    }

    & > .button__background {
      @include h3;
      @include inline-flex-center;
      @include one-hundred-width-and-height;

      color: $purple;
      background-color: #fff;
      border-radius: 22px;
      pointer-events: none;
      z-index: 2;
    }
  }

  &__base_borderless {
    @include h3;

    border: none;
    background: none;
    color: $purple;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;

    &:hover, &.button__base_hovered {
      color: $dark-shade-50;
    }
  }

  &__base_long {
    position: relative;
    display: flex;
    align-items: center;

    @include width(320px, 100%);

    height: 44px;
    box-sizing: border-box;

    @include media-max($sm) {
      @include width(250px, 100%);
    }

    & > .button__item {
      @include h3;
      @include flex-center;
      @include one-hundred-width-and-height;
      @include button-radius;

      padding: 15px;
      justify-content: end;
      background: $gradient;
      text-align: center;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;

      &:hover, &.button__base_hovered {
        opacity: 0.5;
      }

      @include media-max($sm) {
        @include width(250px, 100%);
      }

      & > .button__text-container {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-left: 25px;
      }

      & > .button__arrow {
        @include long-button-arrow;
      }
    }
  }

  &__base_long_link {
    @include width(320px, 100%);

    position: relative;
    display: flex;
    align-items: center;
    height: 44px;

    @include media-max($sm) {
      @include width(250px, 100%);
    }

    & > .button__link {
      @include h3;
      @include inline-flex-center;
      @include one-hundred-width-and-height;
      @include button-radius;

      padding: 15px;
      background: $gradient;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;

      &:hover {
        opacity: 0.5;
      }

      @include media-max($sm) {
        @include width(250px, 100%);
      }

      & > .button__text-container {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin-left: 25px;
      }

      & > .button__arrow {
        @include long-button-arrow;
      }
    }
  }
}