include ~components/header/header
include ~components/footer/footer
include ~templates/vars-and-mixins

block vars

doctype html
html(class=className lang="ru")
  +pageBase({
    title,
    keywords,
    description,
  })
  body(class=`${className}__body`)
    div(class=`${className}__wrapper`)
      +header()
      block content
      +footer()