@mixin h1() {
  @include margin-padding-zero;

  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $dark-shade-100;
}

@mixin h2() {
  @include margin-padding-zero;

  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: $dark-shade-100;
}

@mixin h3() {
  @include margin-padding-zero;

  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-shade-100;
}

@mixin body-font() {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $dark-shade-75;
}

@mixin margin-padding-zero() {
  margin: 0;
  padding: 0;
}

@mixin arrow() {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid $dark-shade-50;
  border-width: 0 2px 2px 0;
  box-sizing: border-box;
  transform: rotate(45deg);
}

@mixin button-arrow() {
  @include zero-width-and-height;
  @include flex-center;

  position: relative;
  justify-content: flex-end;
}

@mixin button-arrow-after($color: false) {
  content: '';
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 2px;

  @if $color {
    background: $purple;
  } @else {
    background-color: #fff;
  }
}

@mixin button-arrow-before($color: false) {
  content: '';
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;

  @if $color {
    border: 1px solid $purple;
  } @else {
    border: 1px solid #fff;
  }

  border-width: 0 2px 2px 0;
  transform: rotate(315deg);
  box-sizing: border-box;
}

@mixin width($min, $max) {
  width: 100%;
  min-width: $min;
  max-width: $max;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-center() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin background-position($size) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin one-hundred-width-and-height() {
  width: 100%;
  height: 100%;
}

@mixin zero-width-and-height() {
  width: 0;
  height: 0;
}

@mixin button-radius() {
  border-radius: 22px;
  border: none;
}

@mixin stars-background() {
  background-image: url('~/icons/star.svg');
  background-repeat: no-repeat;
}

@mixin media-max($px) {
  @media screen and (max-width: $px) {
    @content;
  };
}