$dark-shade-100: #1F2041;
$dark-shade-75: rgb(31 32 65 / 75%);
$dark-shade-50: rgb(31 32 65 / 50%);
$dark-shade-25: rgb(31 32 65 / 25%);
$dark-shade-10: rgb(31 32 65 / 10%);
$dark-shade-5: rgb(31 32 65 / 5%);
$purple: #BC9CFF;
$green: #6FCF97;
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-blue-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$semitransparent-gradient: linear-gradient(180deg, rgb(188 156 255 / 50%) 0%, rgb(139 164 249 / 50%) 100%);
$highly-transparent-gradient: linear-gradient(180deg, rgb(188 156 255 / 25%), rgb(139 164 249 / 25%));
$card-border: 1px solid rgb(0 0 0 / 12%);
$card-shadow-large: 0 0 25px rgb(0 0 0 / 20%);
$card-shadow-small: 0 0 5px rgb(0 0 0 / 20%);
$max-width: 1440px;
$toggle-width: 38px;
$circle-width: 12px;
$circle-margin: 3px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin h1() {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $dark-shade-100;
}

@mixin h2() {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: $dark-shade-100;
}

@mixin h3() {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-shade-100;
}

@mixin body-font() {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $dark-shade-75;
}

@mixin arrow() {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid $dark-shade-50;
  border-width: 0 2px 2px 0;
  box-sizing: border-box;
  transform: rotate(45deg);
}

@mixin button-arrow() {
  @include zero-width-and-height;
  @include flex-center;

  position: relative;
  justify-content: flex-end;
}

@mixin button-arrow-after($color: false) {
  content: '';
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 2px;

  @if $color {
    background: $gradient;
  } @else {
    background-color: #fff;
  }
}

@mixin button-arrow-before($color: false) {
  content: '';
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;

  @if $color {
    border: 1px solid $purple;
  } @else {
    border: 1px solid #fff;
  }

  border-width: 0 2px 2px 0;
  transform: rotate(315deg);
  box-sizing: border-box;
}

@mixin width($min, $max) {
  width: 100%;
  min-width: $min;
  max-width: $max;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-center() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin background-position($size) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin one-hundred-width-and-height() {
  width: 100%;
  height: 100%;
}

@mixin zero-width-and-height() {
  width: 0;
  height: 0;
}

@mixin margin-padding-zero() {
  margin: 0;
  padding: 0;
}

@mixin button-radius() {
  border-radius: 22px;
  border: none;
}

@mixin stars-background() {
  background-image: url('../../img/star.svg');
  background-repeat: no-repeat;
}

@mixin media-max($px) {
  @media screen and (max-width: $px) {
    @content;
  };
}