mixin like-button(options = {})
  -
    let className = 'like-button__button js-like-button__button';
    className += options.isLiked ? ' like-button__button_liked' : '';

  .like-button.js-like-button
    button(class=className)
      span.like-button__inner-conainer
        if options.isLiked
          span.like-button__icon.like-button__icon_liked.js-like-button__icon
        else
          span.like-button__icon.js-like-button__icon
        span.like-button__count.js-like-button__count=options.count