@import '../../templates/vars-and-mixins';

.like-button {

  &__inner-conainer{
    @include flex-between-center();
    width: 100%;
    padding: 0 10px 0 4px;
  }

  &__button {
    @include margin-padding-zero();
    min-width: 40px;
    height: 20px;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
  }

  &__button_liked {
    border: 1px solid $Purple;
    color: $Purple;
  }

  &__icon {
    @include background-position(cover);
    width: 8px;
    height: 8px;
    margin-right: 2px;
    background-image: url(../../img/unliked.svg);
  }

  &__icon_liked {
    background-image: url(../../img/liked.svg);
  }

  &__count {
    @include Body-font();
    color: $Dark-Shade-25;
    font-size: 10px;
  }

  &__icon_liked + &__count {
    color: $Purple;
  }
}