@import '~templates/mixins';
@import '~constants/consts';

.like-button {
  &:hover {
    opacity: 0.5;
  }

  &__inner-container{
    @include flex-between-center;

    width: 100%;
    padding: 0 10px 0 4px;
    box-sizing: border-box;
  }

  &__button {
    @include width(40px, 100%);
    @include margin-padding-zero;

    min-height: 20px;
    background: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    cursor: pointer;

    &_liked {
      border: 1px solid $purple;
      color: $purple;
    }
  }

  &__icon {
    @include background-position(cover);

    width: 8px;
    height: 8px;
    margin-right: 2px;
    background-image: url("~/icons/unliked.svg");

    &_liked {
      background-image: url("~/icons/liked.svg");
    }
  }

  &__count {
    color: $dark-shade-25;
    font-size: 10px;
  }

  &__icon_liked + &__count {
    color: $purple;
  }
}