mixin like-button(options)
  -
    let className = 'like-button__button js-like-button__button'
    className += options.isLiked ? ' like-button__button_liked' : ''
 
  .like-button.js-like-button
    button(class=className)
      span.like-button__inner-conainer
        if options.isLiked
          img(src=require("../../img/liked.svg") class="like-button__icon js-like-button__icon" alt="Liked")
        else  
          img(src=require("../../img/unliked.svg") class="like-button__icon js-like-button__icon" alt="Unliked")
        span.like-button__count.js-like-button__count=options.count
