include ../../components/header/header
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox-button/checkbox-button
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/pagination/pagination
include ../../components/room-card/room-card
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile
include ../../templates/vars-and-mixins

doctype html
html(lang="en")
  +pageBase({
    title: 'Search room',
    keywords: 'Search room, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body
    .search-room-wrapper
      +header()
      .search-room-filter
        button.search-room-filter__button.js-search-room-filter__button
          span.search-room-filter__wrapper
            span.search-room-filter__icon
            span.search-room-filter__text Фильтры
      main.search-room-container
        .search-room-widgets-container.js-search-room-widgets-container
          form.search-room-widgets-form
            section.search-room-widgets-wrapper
              .search-room-filter-date-dropdown-container
                +filter-date-dropdown({
                  title: 'Даты пребывания в отеле',
                  dateFrom: '2020, 7, 19',
                  dateTo: '2020, 7, 23',
                })
              .search-room-guests-dropdown-container
                +dropdown({
                  title: 'Гости',
                  items: ['Взрослые', 'Дети', 'Младенцы'],
                  addingButtons: true,
                  isGuests: true,
                  width: '266px',
                  buttonsNum: [0, 2],
                  clicksNum: [3, 1],
                })
              .search-room-range-slider-container
                +range-slider({
                  title: 'Диапазон цены',
                })
                p.search-room-slider-sub-text Стоимость за сутки пребывания в номере
              .search-room-checkbox-buttons-container
                .search-room-checkbox-buttons-wrapper
                  each val in searchRoomCheckboxes
                    +checkbox-button({
                      text: val.text,
                      title: val.title,
                      checked: val.checked,
                    })

              .search-room-rich-checkbox-buttons-container
                .search-room-rich-checkbox-buttons-wrapper
                  each val in searchRoomRichCheckboxButtons
                    +checkbox-button({
                      title: val.title,
                      richButtonTitle: val.richButtonTitle,
                      text: val.text,
                      isRich: val.isRich,
                    })

              .search-room-conveniences-dropdown-container
                +dropdown({
                  title: 'Удобства номера',
                  items: ['Спальни', 'Кровати', 'Ванные комнаты'],
                  width: '266px',
                  isConveniences: true,
                  buttonsNum: [0, 1],
                  clicksNum: [2, 2],
                })
              .search-room-expandable-checkbox-list-container
                +expandable-checkbox-list({
                  title: 'Дополнительные удобства',
                  checkboxTexts: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь'],
                })
        section.search-room-cards-container
          h1.search-room-title Номера, которые мы для вас подобрали
          +pagination({
            numbers: '1 - 12',
            totalNumber: 'из 100+ вариантов аренды',
          })
      +footer()
      +footer-mobile()
      .search-room-pagination-container
        -
          for (let i = 0; i < 160; i += 1) {
            roomsCardsProperties.push(['room-photo1.jpg', '888', '9 990', 5, 5, 145, true, false])
          };

          for (let i = 0; i < roomsCardsProperties.length; i++)
        +room-card({
          photos: [roomsCardsProperties[i][0], roomsCardsProperties[i][0], roomsCardsProperties[i][0], roomsCardsProperties[i][0]],
          number: roomsCardsProperties[i][1],
          price: roomsCardsProperties[i][2],
          starsNumber: roomsCardsProperties[i][3],
          checkedButton: roomsCardsProperties[i][4],
          reviewsNumber: roomsCardsProperties[i][5],
          isLux: roomsCardsProperties[i][6],
          isSlickArrows: roomsCardsProperties[i][7]
        })