@import '../../libs/paginationjs/paginationjs';
@import '../../libs/ion-rangeslider/ion-rangeslider';
@import '../../libs/slick-carousel/slick-carousel';
@import '../../libs/air-datepicker/air-datepicker';
@import '../../components/logo/logo';
@import '../../components/header/header';
@import '../../components/filter-date-dropdown/filter-date-dropdown';
@import '../../components/dropdown/dropdown';
@import '../../components/range-slider/range-slider';
@import '../../components/checkbox-button/checkbox-button';
@import '../../components/checkbox-list/checkbox-list';
@import '../../components/pagination/pagination';
@import '../../components/rate-button/rate-button';
@import '../../components/button/button';
@import '../../components/room-card/room-card';
@import '../../components/subscription-text-field/subscription-text-field';
@import '../../components/social-icons/social-icons';
@import '../../components/footer/footer';
@import '../../components/footer-mobile/footer-mobile';
@import '../../templates/vars-and-mixins';

.search-room {
  &, &__body {
    @include Body-font();
    background-color: #fff;
  }

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__container  {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 130px 104px 140px;
    border-bottom: 1px solid $Dark-Shade-5;
    box-sizing: border-box;

    @include media-max($xl) {
      padding: 0 15px 100px 15px;
    }
  }

  &__filter {
    display: none;
    margin-top: 25px;
    width: 100%;

    @include media-max($xl) {
      display: flex;
      justify-content: center;
    }
  }

  &__filter-button {
    padding: 15px;
    border: 1px solid $Dark-Shade-25;
    border-radius: 4px;
    background: none;
    cursor: pointer;
  }

  &__filter-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__filter-icon {
    @include background-position(contain);
    width: 15px;
    height: 15px;
    margin: 2px 5px 0 0;
    background-image: url('../../img/filter.svg');
  }

  &__filter-text {
    @include Body-font();
    font-size: 22px;
    color: $Dark-Shade-100;
  }

  &__widgets-container {
    margin-top: 30px;
    flex: 1;

    @include media-max($xl) {
      display: none;
      flex-basis: 100%;
      padding: 20px 10px;
      border: 1px solid $Dark-Shade-5;
      border-radius: 4px;
    }
  }

  &__widgets-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-max($md) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__filter-date-dropdown-container {

    @include media-max($xl) {
      margin-top: 0;
      order: 0;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__guests-dropdown-container {
    margin-top: 20px;

    @include media-max($xl) {
      margin-top: 0;
      order: 1;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      flex-basis: 100%;
    }
  }

  &__range-slider-container {
    margin-top: 30px;

    @include media-max($xl) {
      order: 5;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__slider-sub-text {
    @include Body-font();
    margin-top: 60px;
    font-size: 12px;
    line-height: 14px;
    color: $Dark-Shade-50;
  }

  &__checkbox-buttons-container {
    margin-top: 28px;

    @include media-max($xl) {
      margin-top: 30px;
      order: 3;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__rich-checkbox-buttons-container {
    margin-top: 20px;

    @include media-max($xl) {
      margin-top: 30px;
      order: 4;
    }

    @include media-max($lg) {
      flex-basis: 50%;
      order: 2;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__conveniences-dropdown-container {
    margin-top: 15px;

    @include media-max($xl) {
      margin-top: 0;
      order: 2;
    }

    @include media-max($md) {
      margin-top: 30px;
      flex-basis: 50%;
      order: 4;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__checkbox-list-container {
    margin-top: 30px;

    @include media-max($xl) {
      margin-top: 30px;
      order: 6;
    }

    @include media-max($lg) {
      flex-basis: 50%;
    }

    @include media-max($md) {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 29px 0 0 58px;
    flex: 6;

    @include media-max($xl) {
      flex-basis: 100%;
      flex: 1;
      margin-left: 0;
    }
  }

  &__title {
    @include H1();

    @include media-max($xl) {
      width: 100%;
      text-align: center;
    }

    @include media-max($sm) {
      font-size: 20px;
    }
  }

  &.pagination-list {
    margin-bottom: 36px;

    @include media-max($xxl) {
      justify-content: space-evenly;
    }
  }

  &.pagination-container {
    margin-right: 10px;
  }

  &__pagination-container {
    position: absolute;
    appearance: none;
    opacity: 0;
    visibility: hidden;
    left: -10000px;
  }
}