@import 'normalize.css';
@import '~libs/paginationjs/paginationjs';
@import '~libs/ion-rangeslider/ion-rangeslider';
@import '~libs/slick-carousel/slick-carousel';
@import '~libs/air-datepicker/air-datepicker';
@import '~components/logo/logo';
@import '~components/header/header';
@import '~components/filter-date-dropdown/filter-date-dropdown';
@import '~components/dropdown/dropdown';
@import '~components/range-slider/range-slider';
@import '~components/checkbox-button/checkbox-button';
@import '~components/checkbox-list/checkbox-list';
@import '~components/pagination/pagination';
@import '~components/rate-button/rate-button';
@import '~components/button/button';
@import '~components/room-card/room-card';
@import '~components/subscription-text-field/subscription-text-field';
@import '~components/social-icons/social-icons';
@import '~components/footer/footer';
@import '~templates/mixins';
@import '~constants/consts';

.search-room {
  @include body-font;

  background-color: #fff;

  &__body {
    @include margin-padding-zero;
  }

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &__container  {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 130px 104px 140px;
    border-bottom: 1px solid $dark-shade-5;
    box-sizing: border-box;

    @include media-max($xl) {
      padding: 0 15px 100px;
    }
  }

  &__filter {
    display: none;
    margin-top: 25px;
    width: 100%;

    @include media-max($xl) {
      display: flex;
      justify-content: center;
    }
  }

  &__filter-button {
    padding: 15px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    background: none;
    cursor: pointer;
  }

  &__filter-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__filter-icon {
    @include background-position(contain);

    width: 15px;
    height: 15px;
    margin: 2px 5px 0 0;
    background-image: url('~/icons/filter.svg');
  }

  &__filter-text {
    @include body-font;

    font-size: 22px;
    color: $dark-shade-100;
  }

  &__widgets-container {
    margin-top: 30px;
    flex: 1;

    @include media-max($xl) {
      display: none;
      flex-basis: 100%;
      padding: 20px 10px;
      border: 1px solid $dark-shade-5;
      border-radius: 4px;
    }
  }

  &__widgets-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-max($lg) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__filter-date-dropdown-container {
    width: 266px;

    @include media-max($xl) {
      margin-top: 0;
      order: 0;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__filter-date-dropdown-wrapper {
    min-width: 266px;
  }

  &__guests-dropdown-container {
    width: 266px;
    margin-top: 20px;

    @include media-max($xl) {
      margin-top: 0;
      order: 2;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__range-slider-container {
    margin-top: 33px;

    @include media-max($xl) {
      order: 5;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__slider-sub-text {
    @include body-font;

    margin-top: 60px;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
  }

  &__checkbox-buttons-container {
    margin-top: 14px;

    @include media-max($xl) {
      width: 350px;
      margin-top: 30px;
      order: 3;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__rich-checkbox-buttons-container {
    margin-top: 20px;

    @include media-max($xl) {
      margin-top: 30px;
      order: 4;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__conveniences-dropdown-container {
    width: 266px;
    margin-top: 20px;

    @include media-max($xl) {
      margin-top: 0;
      order: 1;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__checkbox-list-container {
    margin-top: 30px;

    @include media-max($xl) {
      margin-top: 30px;
      order: 6;
    }

    @include media-max($lg) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 32px 0 0 58px;
    flex: 6;

    @include media-max($xl) {
      flex: 1;
      flex-basis: 100%;
      margin-left: 0;
    }
  }

  &__title {
    @include h1;

    @include media-max($xl) {
      width: 100%;
      text-align: center;
    }

    @include media-max($sm) {
      font-size: 20px;
    }
  }

  &.pagination-list {
    margin-bottom: 36px;

    @include media-max($xxl) {
      justify-content: space-evenly;
    }
  }

  &.pagination-container {
    margin-right: 10px;
  }

  &__pagination-container {
    position: absolute;
    appearance: none;
    opacity: 0;
    visibility: hidden;
    left: -10000px;
  }
}