@import '../../templates/vars-and-mixins.scss';

$squares:
  'one_hundred_percent_dark_shade' $Dark-Shade-100,
  'seventy_five_percent_dark_shade' $Dark-Shade-75,
  'fifty_percent_dark_shade' $Dark-Shade-50,
  'twenty_five_percent_dark_shade' $Dark-Shade-25,
  'five_percent_dark_shade' $Dark-Shade-5,
  'purple' $Purple,
  'green' $Green;

.color {
    display: flex;
    align-items: center;

    &__square {
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }

    @each $modifier, $color in $squares {
      &__square_#{$modifier} {
        background-color: $color;
      }
    }

    &__text {
      margin: 0 0 0 40px;
    }

    &__title {
      @include H2();
      line-height: 28px;
    }

    &__hex {
      @include H2();
      font-weight: normal;
    }
  }