@import '~templates/mixins';
@import '~constants/consts';

.toggle-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  line-height: 24px;
  cursor: pointer;

  &__custom-input {
    position: absolute;
    display: flex;
    align-items: center;
    width: $toggle-width;
    height: 18px;
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    box-sizing: content-box;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      margin-right: $circle-margin;
      margin-left: $circle-margin;
      background: $dark-shade-25;
      border-radius: 10px;
      transition: 0.4s;
    }
  }

  &__input:checked + &__custom-input {
    border: 1px solid $purple;
  }

  &:hover > &__input:not(:checked) + &__custom-input {
    border: 1px solid $dark-shade-50;
  }

  &__text {
    padding-left: 50px;
    color: $dark-shade-75;
  }

  &__input {
    position: absolute;
    appearance: none;
  }

  &__input:checked + &__custom-input::after {
    background: $purple;
    transform: translateX($toggle-width - $circle-width - 2 * $circle-margin);
  }
}
