mixin toggle-button(options = {})
  label.toggle-button
    input.toggle-button__input(
      type="checkbox"
      checked=options.checked
    )
    span.toggle-button__custom-input
    span.toggle-button__text=options.text