@import '~templates/mixins';
@import '~constants/consts';

.date-dropdown {
  @include width(266px, 320px);

  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  &__title {
    @include h3;
    @include margin-padding-zero;
  }

  &__input  {
    @include zero-width-and-height;

    position: absolute;
    top: 58px;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    border: 0;
    box-sizing: border-box;
  }

  &__input-wrapper-from,
  &__input-wrapper-to {
    @include width(100px, 150px);

    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
  }

  &__wrapper-from {
    margin-right: 5px;
    box-sizing: border-box
  }

  &__input-from, &__input-to {
    @include width(100px, 150px);

    min-height: 44px;
    padding: 0 30px 0 15px;
    background: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    @include media-max($sm) {
      padding-left: 10px;
    }
  }

  &__input-from:hover, &__input-to:hover,
  &__input-from:focus, &__input-to:focus {
    border: 1px solid $dark-shade-50;
  }

  &__input-from::placeholder, &__input-to::placeholder {
    text-transform: uppercase;
  }

  &__arrow {
    position: absolute;
    padding: 0;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    pointer-events: none;

    @include media-max($sm) {
      right: 10px;
    }
  }

  &__arrow::after {
    @include arrow;
  }
}