@import '~templates/mixins';
@import '~constants/consts';

.date-dropdown {
  @include width(266px, 320px);

  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  &__title {
    @include h3;
  }

  &__input {
    @include zero-width-and-height;

    position: absolute;
    top: 58px;
    overflow: hidden;
    visibility: hidden;
    border: 0;
    box-sizing: border-box;
  }

  &__input-wrapper-from,
  &__input-wrapper-to {
    position: relative;
    margin-top: 5px;
    box-sizing: border-box;
  }

  &__wrapper-from {
    margin-right: 5px;
    box-sizing: border-box;
  }

  &__input-from,
  &__input-to {
    @include width(100px, 150px);
    @include body-font;

    min-height: 44px;
    padding-right: 30px;
    padding-left: 15px;
    background: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    &::placeholder {
      text-transform: uppercase;
    }

    &:hover,
    &:focus {
      border: 1px solid $dark-shade-50;
    }

    @include media-max($sm) {
      padding-left: 10px;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    pointer-events: none;

    &::after {
      @include arrow;
    }

    @include media-max($sm) {
      right: 10px;
    }
  }
}
