include ../checkbox-button/checkbox-button

mixin expandable-checkbox-list(options = {})
  -
    let className = 'expandable-checkbox-list__title js-expandable-checkbox-list__title'
    className += options.isOpened ? ' js-expandable-checkbox-list__title_opened' : ''

  .expandable-checkbox-list.js-expandable-checkbox-list
    h3(class=className)!=options.title
      .expandable-checkbox-list__arrow.js-expandable-checkbox-list__arrow
    .expandable-checkbox-list__list.js-expandable-checkbox-list__list
      each val, index in options.checkboxTexts
        -
          let check;
          if (options.checkedItems) {
            for (let i = 0; i < options.checkedItems.length; i++) {
              if (index === options.checkedItems[i]) {
                check = true;
                break
              };
              check = false;
            }
          }

        +checkbox-button({text: val, checked: check})