@import '../../templates/colors.scss';
@import '../../templates/fonts.scss';

@import '../checkbox-button/checkbox-button';

.expandable-checkbox-list{
  
  &__title {
    @include H3();
    display: flex;
    justify-content: space-between;
    width: 266px;
    margin-bottom: 18px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  &__arrow {
    padding: 2px 14px 0 0;
  }
  
  &__list {
    display: none;
  }

  .js-expandable-checkbox-list__arrow_transformed {
    transform: rotateX(180deg);
  }
  
  .js-expandable-checkbox-list__list_opened {
    display: block;
  }
}
