@import '~templates/mixins';
@import '~constants/consts';

.reserve-card {
  min-width: 380px;
  max-width: 600px;
  background: #fff;
  border: $card-border;
  box-sizing: border-box;
  box-shadow: $card-shadow-large;
  border-radius: 4px;

  @include media-max($sm) {
    box-shadow: $card-shadow-small;
  }

  &__wrapper {
    padding: 45px 29px 29px;

    @include media-max($sm) {
      padding: 45px 15px 29px;
    }
  }

  &__number-and-price-container {
    @include flex-between-center;
  }

  &__number-symbol {
    @include h3;

    font-size: 14px;
    line-height: 17px;
  }

  &__room-number {
    @include h1;

    display: inline-block;
    margin-left: 5px;
  }

  &__lux-mark {
    display: inline-block;
    margin-left: 6px;
  }

  &__price {
    @include body-font;

    padding-top: 4px;
    font-weight: bold;
    line-height: 18px;
    color: $dark-shade-50;
  }

  &__time-interval {
    font-weight: normal;
    font-size: 12px;
  }

  &__date-dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__guests-dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__price-block {
    @include body-font;

    margin-top: 20px;
    line-height: 20px;
  }

  &__sum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__sum-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 20px;
    width: 75.5%;
  }

  &__information-icon-container {
    position: relative;
  }

  &__information-icon-container::after {
    @include h3;
    @include flex-center;

    content: 'i';
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    color: $dark-shade-25;
    text-transform: none;
    cursor: pointer;
  }

  &__information-tooltip {
    display: none;
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 2px 15px;
    font-size: 12px;
    background-color: #fff;
    color: $dark-shade-50;
    text-align: center;
    line-height: normal;
    border: 1px solid $dark-shade-25;
    box-shadow: $card-shadow-small;
    z-index: 100;
  }

  &__information-icon-container:hover > &__information-tooltip {
    display: block;
  }

  &__information-tooltip-link {
    color: $purple;
    text-decoration: none;
  }

  &__information-tooltip-link:hover {
    opacity: 0.5;
  }

  &__total-sum-block {
    @include h2;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 29px;
    line-height: 23px;
  }

  &__dotted-border {
    flex: 1;
    margin: 0 5px;
    height: 18px;
    border-bottom: dotted 1px $dark-shade-25;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}