@import '../../templates/vars-and-mixins';

.reserve-card {
  max-width: 380px;
  background: #fff;
  border: $cardBorder;
  box-sizing: border-box;
  box-shadow: $cardShadowLarge;
  border-radius: 4px;

  @media screen and (max-width: 400px) {
    box-shadow: $cardShadowSmall;
  }

  &__wrapper {
    padding: 45px 29px 29px 29px;

    @media screen and (max-width: 400px) {
      padding: 45px 15px 29px 15px;
    }
  }

  &__number-and-price-container    {
    @include flex-between-center();
  }

  &__number-symbol {
    @include H3();
    font-size: 14px;
    line-height: 17px;
  }

  &__room-number{
    @include H1();
  }

  &__lux-mark {
    display: inline-block;
    margin-left: 6px;
  }

  &__price {
    @include Body-font();
    padding-top: 4px;
    font-weight: bold;
    line-height: 18px;
    color: $Dark-Shade-50;
  }

  &__time-interval {
    font-weight: normal;
    font-size: 12px;
  }

  &__date-dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 21px;
  }

  &__guests-dropdown-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__price-block {
    @include Body-font();
    margin-top: 20px;
    line-height: 20px;
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__sum-description  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 20px;
    width: 75.5%;
  }

  &__information-icon-container {
    position: relative;
  }

  &__information-icon-container:hover > &__information-tooltip {
    display: block;
  }

  &__information-icon {
    @include H3();
    @include flex-center();
    width: 20px;
    height: 20px;
    border: 1px solid $Dark-Shade-25;
    border-radius: 50%;
    color: $Dark-Shade-25;
    text-transform: none;
    cursor: pointer;
  }

  &__information-tooltip {
    display: none;
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 4px;
    font-size: 12px;
    background-color: #fff;
    color: $Dark-Shade-50;
    text-align: center;
    border: 1px solid $Dark-Shade-25;
    z-index: 50000000;
  }

  &__information-tooltip-link {
    color: $Dark-Shade-75;
    text-decoration: none;
  }

  &__total-sum-block {
    @include H2();
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    line-height: 23px;
  }

  &__dotted-border {
    flex: 1;
    margin: 0 5px;
    height: 18px;
    border-bottom: dotted 1px $Dark-Shade-25;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}