mixin type-description(options = {})
  .type-description
    #{options.tag}.type-description__text(style=options.style)
      span.type-description__title!=options.title
      span.type-description__description!=options.description

