mixin type-description(options)
  .type-description
    #{options.tag}.type-description__text(style=options.style)
      .type-description__title!=options.title
      .type-description__description!=options.description

