@import '../../templates/vars-and-mixins';

.range-slider {
  &__title {
    @include h3;

    position: absolute;
  }

  &__values {
    @include h3;

    position: absolute;
    right: 0;
    font-weight: normal;
    color: $dark-shade-50;
  }
}