mixin range-slider(options)
  -
    if (!options)
      options = {};
      
  .range-slider.js-range-slider
    if options.title 
      h3.range-slider__title!=options.title
    input(
      type="text" 
      class="range-slider__input js-range-slider__input" 
      name="range-slider" 
      )