@import 'normalize.css';
@import '~libs/paginationjs/paginationjs';
@import '~libs/ion-rangeslider/ion-rangeslider';
@import '~libs/air-datepicker/air-datepicker';
@import '~components/logo/logo';
@import '~components/element-description/element-description';
@import '~components/text-field/text-field';
@import '~components/masked-text-field/masked-text-field';
@import '~components/comment/comment';
@import '~components/dropdown/dropdown';
@import '~components/date-dropdown/date-dropdown';
@import '~components/filter-date-dropdown/filter-date-dropdown';
@import '~components/subscription-text-field/subscription-text-field';
@import '~components/checkbox-list/checkbox-list';
@import '~components/checkbox-button/checkbox-button';
@import '~components/radio-buttons/radio-buttons';
@import '~components/toggle-button/toggle-button';
@import '~components/like-button/like-button';
@import '~components/rate-button/rate-button';
@import '~components/button/button';
@import '~components/bullet-list/bullet-list';
@import '~components/advantage/advantage';
@import '~components/range-slider/range-slider';
@import '~components/pagination/pagination';

.form-elements {
  @include body-font;

  color: $dark-shade-100;
  background-color: #fff;

  &__container {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
  }

  &__logo-container {
    margin: 30px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 61px auto 131px;
  }

  &__left-block {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    box-sizing: border-box;
  }

  &__first-text-field {
    width: 100%;
  }

  &__second-text-field {
    width: 100%;
    margin-top: 22px;
  }

  &__dropdown-first-container {
    width: 100%;
    margin-top: 21px;
  }

  &__masked-text-field-container {
    width: 100%;
    margin-top: 25px;
  }

  &__date-dropdown-container {
    width: 100%;
    margin-top: 40px;
  }

  &__filter-date-dropdown-container {
    width: 266px;
    margin-top: 44px;
  }

  &__subscription-text-field-container {
    width: 100%;
    margin-top: 41px;
  }

  &__dropdown-second-container {
    margin-top: 102px;
  }

  &__dropdown-third-container {
    margin-top: 21px;
  }

  &__checkbox-list-container {
    margin-top: 172px;
  }

  &__opened-checkbox-list-container {
    margin-top: 35px;
  }

  &__central-block {
    width: 320px;
    margin-left: 127px;
    box-sizing: border-box;
  }

  &__radio-buttons-container {
    margin-top: 40px;
  }

  &__radio-buttons-description-container {
    margin-bottom: 16px;
  }

  &__toggle-buttons-container {
    margin-top: 42px;
  }

  &__toggle-description-container {
    margin-bottom: 14px;
  }

  &__toggle-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__like-button-container {
    margin-top: 35px;
  }

  &__like-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-top: 14px;
  }

  &__rate-buttons-container {
    margin-top: 42px;
  }

  &__buttons-description-container {
    margin-bottom: 14px;
  }

  &__rate-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin-top: 18px;
    margin-left: 2px;
  }

  &__dropdown-fourth-container {
    margin-top: 198px;
  }

  &__rich-checkbox-buttons-container {
    margin-top: 256px;
  }

  &__right-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 72px;
    box-sizing: border-box;
    width: 320px;
  }

  &__buttons-container {
    margin-top: 88px;
  }

  &__filled-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1px;
    margin-top: 18px;
    width: 217px;
  }

  &__empty-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 217px;
    min-height: 45px;
  }

  &__long-button-container {
    margin-top: 28px;
  }

  &__text-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1px;
    margin-top: 31px;
    width: 142px;
  }

  &__pagination-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 83%;
  }

  &__pagination-description-container {
    margin-bottom: 12px;
  }

  &__dropdown-fifth-container {
    width: 100%;
    margin-top: 265px;
  }

  &__bullet-list-container {
    max-width: 260px;
    margin-top: 257px;
  }

  &__bullet-list-description-container {
    margin-bottom: 12px;
  }

  &__bottom-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 90px;
  }

  &__advantages-container {
    @include margin-padding-zero;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 280px;
    height: 152px;
  }

  &__advantages-item {
    list-style-type: none;
  }

  &__comment-container {
    margin-top: 7px;
    margin-left: 166px;
  }
}