extends ~pages-base/page-base
include ~components/registration-card/registration-card

block vars
  -
    const className = 'registration';
    const title = 'Registration';
    const keywords = 'Registration, components, MetaLamp, education';
    const description = 'Отель Toxin, подобрать номер';

block content
  main.registration__background-container
    .registration__card-wrapper
      +registration-card({
        buttonText: 'Зарегистрироваться',
      })