include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../masked-text-field/masked-text-field
include ../toggle-button/toggle-button
include ../button/button

mixin registration-card(options = {})
  .registration-card.js-registration-card
    h1.registration-card__title Регистрация аккаунта
    .registration-card__wrapper
      form.registration-card__form
        .registration-card__username-inputs-container
          each val in ['Имя', 'Фамилия']
            .registration-card__username-input-wrapper
              +text-field({
                placeholder: val,
                type: 'text'
                })
        .registration-card__radio-buttons-container
          +radio-buttons({
            radioNames: ['Мужчина', 'Женщина'],
            checkedNumber: 0
            })
        .registration-card__date-input-container
          +masked-text-field({
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            title: 'Дата рождения'
            })
        .registration-card__entry-data-container
          .registration-card__data-title Данные для входа в сервис
          .registration-card__entry-data-inputs-container
            each val in [['Email', 'email'], ['Пароль', 'password']]
              .registration-card__entry-data-input-wrapper
                +text-field({
                  placeholder: val[0],
                  type: val[1]
                  })
        .registration-card__toggle-button-container
          +toggle-button({text: 'Получать спецпредложения'})
        .registration-card__long-button-container
          +button({
            longButton: true,
            text: options.buttonText,
            type: 'submit'
            })
        .registration-card__login-container
          .registration-card__login-text Уже есть аккаунт на Toxin
          +button({
            emptyButton: true,
            text: 'Войти',
            href: 'registration-and-sign-in.html?page=entry'
            })