include ../text-field/text-field
include ../radio-buttons/radio-buttons
include ../masked-text-field/masked-text-field
include ../toggle-button/toggle-button
include ../button/button

mixin registration-card(options = {})
  .registration-block.js-registration-block
    h1.registration-block__title Регистрация аккаунта
    .registration-block__wrapper 
      form.registration-block__form
        .registration-block__username-inputs-container
          .registration-block__username-input-container 
            +text-field({
              placeholder: 'Имя', 
              type: 'text', 
              style: {'width': '100%'}
              })
          .registration-block__username-input-container 
            +text-field({
              placeholder: 'Фамилия', 
              type: 'text', 
              style: {'width': '100%'}
              })
        .registration-block__radio-buttons-container
          +radio-buttons({radio_names: ['Мужчина', 'Женщина']})
        .registration-block__date-input-container   
          +masked-text-field({
            input_type: 'text', 
            placeholder: 'ДД.ММ.ГГГГ',
            title: 'Дата рождения',
            style: {'width': '100%'}
            })
        .registration-block__enter-data-container   
          .registration-block__date-title Данные для входа в сервис
          .registration-block__entry-data-inputs-container
            .registration-block__entry-data-input-container
              +text-field({
                placeholder: 'Email', 
                type: 'email', 
                style: {'width': '100%'}
                })
            .registration-block__entry-data-input-container
              +text-field({
                placeholder: 'Пароль', 
                type: 'text', 
                style: {'width': '100%'}
                })
        .registration-block__toggle-button-container  
          +toggle-button({text: 'Получать спецпредложения'})
        .registration-block__long-button-container 
          +button({
            longButton: true, 
            text: options.buttonText, 
            type: 'submit'
            })
        .registration-block__login-container
          .registration-block__login-text Уже есть аккаунт на Toxin 
          +button({
            emptyButton: true, 
            text: 'Войти', 
            href: 'registration-and-sign-in.html?page=entry'
            })