include ~components/text-field/text-field
include ~components/radio-buttons/radio-buttons
include ~components/masked-text-field/masked-text-field
include ~components/toggle-button/toggle-button
include ~components/button/button

mixin registration-card(options = {})
  .registration-card.js-registration-card
    h1.registration-card__title Регистрация аккаунта
    .registration-card__wrapper
      form.registration-card__form
        .registration-card__username-inputs-container
          each placeholder in ['Имя', 'Фамилия']
            .registration-card__username-input-wrapper
              +text-field({
                placeholder,
                type: 'text',
              })
        .registration-card__radio-buttons-container
          +radio-buttons({
            radioNames: ['Мужчина', 'Женщина'],
            checkedNumber: 0,
          })
        .registration-card__date-input-container
          +masked-text-field({
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            title: 'Дата рождения',
          })
        .registration-card__entry-data-container
          .registration-card__data-title Данные для входа в сервис
          .registration-card__entry-data-inputs-container
            each inputValues in [['Email', 'email'], ['Пароль', 'password']]
              - const [ placeholder, type ] = inputValues;
              .registration-card__entry-data-input-wrapper
                +text-field({
                  placeholder,
                  type,
                })
        .registration-card__toggle-button-container
          +toggle-button({
            text: 'Получать спецпредложения',
          })
        .registration-card__long-button-container
          +button({
            longButton: true,
            text: options.buttonText,
            type: 'submit',
          })
        .registration-card__login-container
          .registration-card__login-text Уже есть аккаунт на Toxin
          +button({
            unfilledButton: true,
            text: 'Войти',
            href: 'sign-in.html',
            size: 'L',
          })