$logos:
  'colorful-icon' 106px 40px '../../img/logo-toxin.svg',
  'icon' 48px 48px '../../img/logo.svg';

.logo {
  display: inline-flex;

  @each $element, $width, $height, $url in $logos {
    &__#{$element} {
      width: $width;
      height: $height;
      background-image: url($url);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}