@import '~templates/mixins';
@import '~constants/consts';

$logos: 'colorful-icon' 106px 40px '~/icons/logo-toxin.svg',
  'icon' 48px 48px '~/icons/logo.svg';

.logo {
  display: inline-flex;

  @each $element, $width, $height, $url in $logos {
    &__#{$element} {
      @include background-position(cover);

      width: $width;
      height: $height;
      background-image: url($url);
    }
  }
}
