mixin logo(options)
  -
    if (!options)
      options = {};

  if options.isColorful
    a.logo(href="landing-page.html")
      .logo__toxin-icon
  else
    a.logo(href="landing-page.html")
      .logo__icon