mixin logo(options)
  -
    if (!options) 
      options = {};

  if options.isColorful
    a.logo(href="index.html" style={"display": "inline-flex"})
      img.logo__image(src=require("../../img/logo-toxin.svg") alt="Logo Toxin")
  else
    a.logo(href="index.html" style={"display": "inline-flex"})
      img.logo__image(src=require("../../img/logo.svg") alt="Logo Toxin")
