include ~components/checkbox-button/checkbox-button

mixin checkbox-list(options = {})
  -
    let titleClass = 'checkbox-list__title js-checkbox-list__title';
      titleClass += options.isExpandable ?
        ' checkbox-list__title_expandable js-checkbox-list__title_expandable' : '';
      titleClass += options.isOpened ? ' js-checkbox-list__title_opened' : '';

  .checkbox-list.js-checkbox-list
    h3(class=titleClass)=options.title
      if options.isExpandable
        span.checkbox-list__arrow
    ul.checkbox-list__list
      each state in options.checkboxState
        -
          const {text, checked, richTitle} = state;

        li.checkbox-list__item
          +checkbox-button({
            text,
            checked,
            isRich: options.isRich,
            richButtonTitle: richTitle,
          })