include ~components/checkbox-button/checkbox-button

mixin checkbox-list(options = {})
  -
    let listClass = 'checkbox-list js-checkbox-list';
      listClass += options.isExpandable ?
        ' checkbox-list_expandable js-checkbox-list_expandable' : '';
      listClass += options.isOpened ? ' checkbox-list_opened' : '';

  div(class=listClass)
    h3.checkbox-list__title=options.title
      if options.isExpandable
        span.checkbox-list__arrow
    ul.checkbox-list__list
      each state in options.checkboxState
        -
          const {text, checked, richTitle} = state;

        li.checkbox-list__item
          +checkbox-button({
            text,
            checked,
            isRich: options.isRich,
            richButtonTitle: richTitle,
          })