@import '../../templates/vars-and-mixins';

.checkbox-list{

  &__title {
    @include H3();
    display: flex;
    justify-content: space-between;
    width: 266px;
    margin-bottom: 18px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__arrow {
    padding: 2px 18px 0 0;
  }

  &__arrow_transformed {
    transform: rotateX(180deg);
  }

  &__arrow::after {
    @include arrow;
  }

  &__list {
    display: none;
  }

  &__list_opened {
    display: block;
  }
}