@import '~templates/mixins';
@import '~constants/consts';

.checkbox-list {
  &__title {
    @include h3;
    @include width(266px, 100%);

    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    box-sizing: border-box;

    &_expandable {
      cursor: pointer;
    }
  }

  &__arrow {
    padding: 2px 18px 0 0;

    &::after {
      @include arrow;
    }
  }

  &__title_expandable.js-checkbox-list__title_opened > &__arrow {
    transform: rotateX(180deg);
  }

  &__title_expandable + &__list {
    display: none;
  }

  &__title_expandable.js-checkbox-list__title_opened + &__list {
    display: block;
  }

  &__item {
    list-style-type: none;
  }
}