@import '~templates/mixins';
@import '~constants/consts';

.checkbox-list {
  &__title {
    @include h3;
    @include width(266px, 100%);

    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    box-sizing: border-box;
  }

  &_expandable > &__title {
    cursor: pointer;
  }

  &__arrow {
    padding-top: 2px;
    padding-right: 18px;
    pointer-events: none;

    &::after {
      @include arrow;
    }
  }

  &_expandable.checkbox-list_opened > &__title > &__arrow {
    transform: rotateX(180deg);
  }

  &__list {
    @include margin-padding-zero;
  }

  &_expandable > &__list {
    display: none;
  }

  &_expandable.checkbox-list_opened > &__list {
    display: block;
  }

  &__item {
    list-style-type: none;
  }
}