@import '~templates/mixins';
@import '~constants/consts';

.comment {
  @include width(280px, 711px);

  &__user-wrapper {
    display: flex;
  }

  &__user-photo {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 10px $dark-shade-5;
    box-sizing: border-box;
  }

  &__user-info {
    padding-left: 10px;
  }

  &__username {
    @include h3;

    line-height: 24px;
    font-size: 14px;
    color: $dark-shade-75;
    text-transform: none;
  }

  &__date {
    line-height: 24px;
  }

  &__comment-wrapper {
    display: flex;
    margin-top: 9px;
    margin-left: 4px;
  }

  &__like-button-wrapper {
    margin-top: 2px;
  }

  &__text {
    padding-left: 15px;
    line-height: 24px;
  }
}