@import 'normalize.css';
@import '~templates/mixins';
@import '~constants/consts';

.index {
  @include body-font;

  color: $dark-shade-100;
  background-color: #fff;

  &, &__body {
    height: 100%;
  }

  &__container {
    @include flex-center;

    flex-wrap: wrap;
    height: 100%;
  }

  &__ui-kit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__ui-kit-title {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }

  &__ui-kit-item {
    list-style-type: none;
  }

  &__ui-kit-link {
    font-size: 40px;
    text-decoration: none;
  }

  &__website-pages-link {
    text-decoration: none;
  }

  &__website-pages-title {
    font-size: 40px;
    text-align: center;
  }
}