doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="MetaLamp layout, components, MetaLamp, education")
    meta(name="description" content="Отель Toxin, подобрать номер")
    title MetaLamp layout
  body
    .metalamp-layout-container
      .metalamp-layout-wrapper
        .metalamp-layout-ui-kit-container
          h2.metalamp-layout-ui-kit-title UI Kit
          ul.metalamp-layout-ui-kit-list
            li.metalamp-layout-ui-kit-item
              a.metalamp-layout-ui-kit-link(href="colors-and-type.html" target="_blank" rel="noopener noreferrer") Colors and Type
            li.metalamp-layout-ui-kit-item
              a.metalamp-layout-ui-kit-link(href="form-elements.html"  target="_blank" rel="noopener noreferrer") Form Elements
            li.metalamp-layout-ui-kit-item
              a.metalamp-layout-ui-kit-link(href="cards.html" target="_blank" rel="noopener noreferrer") Cards
            li.metalamp-layout-ui-kit-item
              a.metalamp-layout-ui-kit-link(href="headers-and-footers.html" target="_blank" rel="noopener noreferrer") Headers and Footers

        .metalamp-layout-website-pages-container
          a.metalamp-layout-website-pages-link(href="landing-page.html" target="_blank" rel="noopener noreferrer")
            h2.metalamp-layout-website-pages-title Website Pages