@import '../../templates/vars-and-mixins.scss';

.subscription-text-field {

  &__title {
    @include H3();
    margin: 0 0 5px 0;
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 267px;
  }

  &__input {
    @include Body-font();
    width: 100%;
    height: 44px;
    padding: 0 35px 0 15px;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__input:focus {
    outline: none;
    border: 1px solid $Dark-Shade-50;
  }

  &__input::placeholder {
    color: $Dark-Shade-25;
  }

  &__input:disabled {
    color: $Dark-Shade-5;
    border: 1px solid $Dark-Shade-5;
    cursor: default;
  }

  &__button {
    position: absolute;
    right: 7px;
    width: 30px;
    height: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../../img/arrow-forward.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}