@import '~templates/mixins';
@import '~constants/consts';

.subscription-text-field {
  @include width(250px, 267px);

  &__title {
    @include h3;

    margin-bottom: 5px;
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__input {
    width: 100%;
    min-height: 44px;
    padding: 0 35px 0 15px;
    background: #fff;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-sizing: border-box;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      color: $dark-shade-5;
      border: 1px solid $dark-shade-5;
      cursor: default;
    }
  }

  &__input:hover, &__input:focus,
  &__button:hover + &__input {
    border: 1px solid $dark-shade-50;
  }

  &__button {
    position: absolute;
    right: 0;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__arrow {
    @include button-arrow;

    justify-content: center;

    &::after {
      @include button-arrow-after(true);
    }

    &::before {
      @include button-arrow-before(true);
    }
  }
}