@import '../../templates/vars-and-mixins';

.subscription-text-field {

  &__title {
    @include H3();
    margin-bottom: 5px;
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 267px;
  }

  &__input {
    @include Body-font();
    width: 100%;
    height: 44px;
    padding: 0 35px 0 15px;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &__input:hover, &__input:focus {
    border: 1px solid $Dark-Shade-50;
  }

  &__input:focus {
    outline: none;
  }

  &__input::placeholder {
    color: $Dark-Shade-25;
  }

  &__input:disabled {
    color: $Dark-Shade-5;
    border: 1px solid $Dark-Shade-5;
    cursor: default;
  }

  &__button {
    position: absolute;
    right: 7px;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__arrow {
    @include inline-flex-center();
    @include one-hundred-width-and-height();
    @include background-position(contain);
    background-image: url(../../img/arrow-forward.svg);
  }
}