extends ~pages-base/ui-kit-base
include ~components/header/header
include ~components/footer/footer
include ~components/footer-mobile/footer-mobile

block vars
  -
    const className = 'headers-and-footers';
    const title = 'Headers & Footers';
    const keywords = 'Headers & Footers, components, MetaLamp, education';
    const description = 'Компоненты header и footer для сайта Toxin';

block content
  .headers-and-footers__header-container
    +header()

  .headers-and-footers__header-with-logged-in-user-container
    +header({
      isLoggedIn: true,
      username: 'Юлий Цезарь',
    })

  .headers-and-footers__footer-container
    +footer()
  .headers-and-footers__footer-mobile-container
    +footer-mobile({
      isVisible: true,
    })