include ../../components/logo/logo
include ../../templates/mixins

doctype html  
html(lang="ru")  
  head
    title Headers & Footers
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="Headers & Footers, components, MetaLamp, education")
    meta(name="description" content="Компоненты header и footer для сайта Toxin")
  body
    .container
      .headers-and-footers-logo-container
        +logo()

      .headers-and-footers-header-container
        +header({isBoldItem: true})

      .headers-and-footers-header-width-logged-in-user-container
        +header({
          isLoggedIn: true, 
          userName: 'Юлий Цезарь',
          isBoldItem: true
          })

      .headers-and-footers-footer-container
        +footer()
      .headers-and-footers-footer-mobile-container
        +footer-mobile({isVisible: true})
        
  
              

