@import '../../components/logo/logo';
@import '../../components/button/button';
@import '../../components/header/header';
@import '../../components/subscription-text-field/subscription-text-field';
@import '../../components/social-icons/social-icons';
@import '../../components/footer/footer';
@import '../../components/footer-mobile/footer-mobile';
@import '../../templates/vars-and-mixins';

.headers-and-footers {
  @include body-font;

  color: $dark-shade-100;
  background-color: $dark-shade-5;

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__logo-container {
    margin: 30px 0 0 30px;
  }

  &__header-container {
    margin-top: 58px;
  }

  &__header-with-logged-in-user-container {
    margin-top: 40px;
  }

  &__footer-container {
    margin-top: 41px;
  }

  &__footer-mobile-container {
    display: flex;
    justify-content: center;
    margin: 41px 0 140px;
  }
}