@import "../../components/header/header";
@import "../../components/footer/footer";
@import "../../components/footer-mobile/footer-mobile";

@font-face {
  font-family: 'Montserrat';
  src: 
  url('../../fonts/Montserrat-Bold.woff2') format('woff2'), 
  url('../../fonts/Montserrat-Bold.woff') format('woff'), 
  url('../../fonts/Montserrat-Bold.ttf') format('truetype'), 
  url('../../fonts/Montserrat-Bold.svg#Montserrat_Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: 
  url('../../fonts/Montserrat-Regular.woff2') format('woff2'), 
  url('../../fonts/Montserrat-Regular.woff') format('woff'), 
  url('../../fonts/Montserrat-Regular.ttf') format('truetype'), 
  url('../../fonts/Montserrat-Regular.svg#Montserrat_Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: rgba(31, 32, 65, 0.05);
}

body, html {
  font-family: Montserrat, Arial, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.headers-and-footers-logo-container {
  margin: 30px 0 0 30px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.headers-and-footers-header-container {
  margin-top: 58px;
}

.headers-and-footers-header-width-logged-in-user-container {
  margin-top: 40px;
}

.headers-and-footers-footer-container {
  margin-top: 40px;
}

.headers-and-footers-footer-mobile-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 140px 0;
}




