@import '../../components/logo/logo';
@import '../../components/button/button';
@import '../../components/header/header';
@import '../../components/subscription-text-field/subscription-text-field';
@import '../../components/social-icons/social-icons';
@import '../../components/footer/footer';
@import '../../components/footer-mobile/footer-mobile';
@import '../../templates/vars-and-mixins';

html {
  @include Body-font();
  color: $Dark-Shade-100;
  background-color: $Dark-Shade-5;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}

.headers-and-footers-logo-container {
  margin: 30px 0 0 30px;
}

.headers-and-footers-header-container {
  margin-top: 58px;
}

.headers-and-footers-header-with-logged-in-user-container {
  margin-top: 40px;
}

.headers-and-footers-footer-container {
  margin-top: 40px;
}

.headers-and-footers-footer-mobile-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 140px 0;
}