@import '~templates/mixins';
@import '~constants/consts';

.search-card {
  @include width(260px, 380px);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 5px;
  background: #fff;
  border: $card-border;
  box-sizing: border-box;
  box-shadow: $card-shadow-large;
  border-radius: 4px;

  &__title {
    @include h1;

    margin: 36px 25px 0;

    @include media-max($sm) {
      margin: 39px 10px 0;
      font-size: 20px;
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0;
  }

  &__date-dropdown-container,
  &__guests-dropdown-container {
    @include flex-center;

    margin: 0 10px;
    width: 100%;
  }

  &__guests-dropdown-container {
    margin: 22px 10px 0;
  }

  &__long-button-container {
    margin-top: 31px;
  }
}