@import '../../templates/vars-and-mixins';

.search-card {
  @include width(260px, 380px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background: #fff;
  border: $cardBorder;
  box-sizing: border-box;
  box-shadow: $cardShadowLarge;
  border-radius: 4px;

  &__title {
    @include H1();
    margin: 39px 29px 0 29px;

    @include media-max($sm) {
      margin: 39px 0 0 0;
      font-size: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 21px 0 29px 0;
  }

  &__date-dropdown-container,
  &__guests-dropdown-container {
    @include flex-center();
    width: 100%;
  }

  &__guests-dropdown-container {
    margin-top: 20px;
  }

  &__long-button-container {
    margin-top: 31px;
  }
}