include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin search-card(options = {})
  .search-card
    h1.search-card__title Найдём номера под ваши пожелания
    form.search-card__form
      .search-card__wrapper
        .search-card__date-dropdown-container
          +date-dropdown({
            title: ['Прибытие', 'Выезд'],
            dateTo: options.dateTo,
            dateFrom: options.dateFrom,
          })
        .search-card__guests-dropdown-container
          +dropdown({
            items: ['Взрослые', 'Дети', 'Младенцы'],
            addingButtons: true,
            isGuests: true,
            title: 'Гости',
          })
        .search-card__long-button-container
          +button({
            longLinkButton: true,
            text: 'Подобрать номер',
            href: 'search-room.html',
          })