mixin color-description(options = {})
  -
    let className = 'color-description__square';
    className += options.title === 'Dark Shade 100%' ? ' color-description__square_one_hundred_percent_dark_shade' : '';
    className += options.title === 'Dark Shade 75%' ? ' color-description__square_seventy_five_percent_dark_shade' : '';
    className += options.title === 'Dark Shade 50%' ? ' color-description__square_fifty_percent_dark_shade' : '';
    className += options.title === 'Dark Shade 25%' ? ' color-description__square_twenty_five_percent_dark_shade' : '';
    className += options.title === 'Dark Shade 5%' ? ' color-description__square_five_percent_dark_shade' : '';
    className += options.title === 'Purple' ? ' color-description__square_purple' : '';
    className += options.title === 'Green' ? ' color-description__square_green' : '';

  .color-description
    div(class=className)
    .color-description__description-text
      h2.color-description__title!=options.title
      span.color-description__color-hex!=options.hex