@import '../../templates/vars-and-mixins.scss';

.color-description {
    display: flex;
    align-items: center;

    &__square {
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }

    &__description-text {
      margin: 0 0 0 40px;
    }

    &__title {
      @include H2();
      line-height: 28px;
    }

    &__color-hex {
      @include H2();
      font-weight: normal;
    }
  }