mixin color-description(options)
  -
    if (!options.style) options.style = '';
    if (!options.title) options.title = '';
    if (!options.hex) options.hex = '';
    
  .color-description
    .color-description__square(style=options.style)
    .color-description__description-text
      h2.color-description__title!=options.title
      span.color-description__color-hex!=options.hex