@import '~templates/vars-and-mixins';

.header {
  width: 100%;
  min-height: 100%;

  &__container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 10px 20px $dark-shade-5;
  }

  &__wrapper {
    @include flex-between-center;

    max-width: $max-width;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 140px;
    box-sizing: border-box;

    @include media-max($xxl) {
      padding: 0 35px;
    }

    @include media-max($xl) {
      padding: 0 15px;
    }
  }

  &__right-block-container {
    display: flex;
    align-items: center;

    @include media-max($xl) {
      display: none;
    }
  }

  &__nav {
    display: flex;
  }

  &__menu-list {
    @include body-font;

    display: flex;
    justify-content: space-between;
    margin-right:  18px;
    list-style-type: none;
  }

  &__list-item {
    position: relative;
    padding-left: 20px;
  }

  &__list-item:first-child {
    padding: 0;
  }

  &__list-arrow {
    display: inline-block;
    margin: 0 9px;
    transition: 0.4s;
  }

  &__list-arrow::after {
    @include arrow;

    margin-bottom: 3px;
  }

  &__list-arrow_transformed {
    transform: rotate(180deg);
  }

  &__expanded-menu {
    display: none;
    position: absolute;
    top: 40px;
    width: 220px;
    background-color: #fff;
    border-top: 1px solid $dark-shade-5;
    box-shadow: 0 4px 12px 3px $dark-shade-25;
    box-sizing: border-box;
    z-index: 100;
  }

  &__expanded-menu::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: 101;
  }

  &__expanded-menu-list {
    @include margin-padding-zero;

    list-style-type: none;
  }

  &__expanded-menu-item {
    margin: 35px;
    text-align: center;
  }

  &__expanded-menu-link, &__list-link {
    color: $dark-shade-50;
    text-decoration: none;
  }

  &__expanded-menu-link:hover,
  &__list-link:hover {
    color: $dark-shade-75;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 303px;
  }

  &__user-name {
    @include body-font;

    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 1px solid $dark-shade-10;
    color: $dark-shade-50;
    cursor: pointer;
  }

  &__user-name:hover {
    color: $dark-shade-75;
  }

  &__burger-container {
    display: none;
    width: 35px;
    height: 26px;
    cursor: pointer;

    @include media-max($xl) {
      display: flex;
      align-items: center;
    }
  }

  &__burger {
    position: relative;
    width: 35px;
    height: 2px;
    background-color: $dark-shade-50;
  }

  &__burger::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 35px;
    height: 2px;
    background-color:$dark-shade-50;
    transition: 0.6s;
  }

  &__burger::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 35px;
    height: 2px;
    background-color:$dark-shade-50;
    transition: 0.6s;
  }

  &__burger_transformed {
    height: 0;
  }

  &__burger_transformed::after, &__burger_transformed::before {
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    transition: 0.6s;
  }

  &__burger_transformed::after {
    transform: rotate(45deg);
  }

  &__burger_transformed::before {
    transform: rotate(-45deg);
  }

  &__mobile-menu {
    position: fixed;
    right: -320px;
    width: 320px;
    height: 100%;
    padding-bottom: 80px;
    background-color: #fff;
    border: 2px solid $dark-shade-50;
    transition: 0.4s;
    overflow-y: scroll;
    visibility: hidden;
    box-sizing: border-box;
    z-index: 200;

    @include media-max($sm) {
      width: 100%;
      right: 100%;
    }
  }

  &__mobile-menu_visible {
    right: 0;
    visibility: visible;
  }

  &__mobile-buttons-container {
    width: 100%;
  }

  &__mobile-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  &__mobile-list {
    @include margin-padding-zero;

    list-style-type: none;
  }

  &__mobile-list-item {
    position: relative;
    margin: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid $dark-shade-25;
  }

  &__mobile-list-link {
    @include body-font;

    display: flex;
    align-items: center;
    font-size: 24px;
    color: $dark-shade-100;
    text-decoration: none;
  }

  &__mobile-list-arrow {
    position: absolute;
    right: 0;
    object-fit: cover;
    transition: 0.4s;
  }

  &__mobile-list-arrow::after {
    @include arrow;
  }

  &__mobile-list-arrow_transformed {
    transform: rotate(180deg);
  }

  &__mobile-expanded-list {
    @include margin-padding-zero;

    display: none;
    list-style-type: none;
  }

  &__mobile-expanded-list-item {
    margin: 20px;
  }

  &__mobile-expanded-list-item:last-child {
    margin-bottom: 0;
  }

  &__mobile-expanded-list-link {
    @include body-font;

    font-size: 20px;
    color: $dark-shade-50;
    text-decoration: none;
  }

  &__scrim {
    @include one-hundred-width-and-height;

    position: fixed;
    left: 0;
    display: none;
    background: rgb(0 0 0 / 50%);
    z-index: 150;
  }
}