@import '../../templates/vars-and-mixins.scss';

.filter-date-dropdown {
  
  &__title {
    @include H3();
    margin: 0 0 5px 0;
  }
  
  &__input-container {
    position: relative;
  }
  
  &__input {
    @include Body-font();
    width: 100%;
    height: 44px;
    padding: 0 0 0 15px;
    text-transform: lowercase;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
  }

  &__input::placeholder {
    text-transform: none;
  }

  &__input:focus {
    outline: none;
    border: 1px solid $Dark-Shade-50;
  }
  
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    pointer-events: none;
  }
}

.datepicker {
  width: 320px;
  min-height: 369px;
  box-sizing: border-box;
  z-index: 10000000;
  @media screen and (max-width: 480px) {
    width: 260px;
  }
}

.datepicker--pointer {
  display: none;
}

.datepicker--nav {
  display: flex;
  align-items: center;
  padding: 18px 20px 22px 20px;
  box-sizing: border-box;
  border-bottom: none;
}

.datepicker--nav-title {
  @include H3();
  font-size: 19px;
  line-height: 23px;
  text-transform: none;
}

.datepicker--nav-title i {
  @include H3();
  padding-left: 5px;
  font-size: 19px;
  line-height: 23px;
  text-transform: none;
}

.datepicker--nav-action {
  padding: 4px 4px 0 4px;
  width: 26px;
  height: 26px;
}

.datepicker--content {
  padding: 0;
  box-sizing: border-box;
}

.datepicker--days {
  padding: 0 21px;
}

.datepicker--day-name {
  @include H3();
  height: 39px;
  font-size: 12px;
  line-height: 15px;
  text-transform: none;
  color: $Purple;
  box-sizing: border-box;
}

.datepicker--cell {
  @include Body-font();
  height: 39px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: 22px;
  color: $Dark-Shade-50;
  box-sizing: border-box;
}

.datepicker--cell.-range-from- {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}

.datepicker--cell.-range-from-::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 22px 0 0 22px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.datepicker--cell.-range-to- {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
}

.datepicker--cell.-range-to-::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 22px 22px 0;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  color: $Dark-Shade-50;
}

.datepicker--cell.-current- {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.datepicker--cell.-current-.-in-range- {
  color: #fff;
  border-radius: 22px;
}

.datepicker--cell.-current-.-in-range-::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.datepicker--buttons {
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  border-top: none;
}

.datepicker--button {
  @include H3();
  flex: none;
  line-height: 15px;
  color: $Purple;
}

.datepicker--button:hover {
  background: #fff;
  color: $Purple;
  opacity: 0.75;
}

.datepicker--nav-action path {
  fill: #BC9CFF;
  stroke: none;
}