@import '../../templates/vars-and-mixins';

.filter-date-dropdown {
  position: relative;
  box-sizing: border-box;
  z-index: 100;

  &__title {
    @include H3();
    margin-bottom: 5px;
  }

  &__input-container {
    @include width(250px, 266px);
    position: relative;
    height: 44px;
  }

  &__input-container_hidden {
    @include width(250px, 320px);
    opacity: 0;
  }

  &__input {
    @include Body-font();
    width: inherit;
    height: inherit;
    padding-left: 15px;
    text-transform: lowercase;
    background: #fff;
    border: 1px solid $Dark-Shade-25;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
  }

  &__input::placeholder {
    text-transform: none;
  }

  &__input:hover,
  &__input:focus {
    outline: none;
    border: 1px solid $Dark-Shade-50;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    pointer-events: none;
  }

  &__arrow::after {
    @include arrow;
  }
}