@import '~templates/mixins';
@import '~constants/consts';

$types: 'size_l' 520px 24px none,
  'size_m' 450px 19px none,
  'size_s' auto 12px uppercase,
  'size_regular' 380px 14px none 24px;

.type {
  font-family: Montserrat, Arial, sans-serif;

  &__text{
    display: flex;

    @each $name, $width, $font-size, $text-transform, $line-height in $types {
      &_#{$name} {
        width: $width;
        font-size: $font-size;
        text-transform: $text-transform;
        line-height: if($line-height, 24px, normal);
      }
    }
  }

  &__title {
    display: inline-block;
    min-width: 45px;
    margin-right: 30px;
    color: $dark-shade-25;
    font-weight: normal;
    text-align: right;
  }
}