@import '~templates/mixins';
@import '~constants/consts';

.bullet-list {
  &__list {
    list-style-type: none;
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      margin-top: 8px;
      left: 0;
      background: $dark-shade-25;
      border-radius: 50%;
    }
  }
}