include ../../components/logo/logo
include ../../components/color-description/color-description
include ../../components/type-description/type-description

doctype html
html(lang="en")
  head
    title Colors & Type
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="Colors & Type, components, MetaLamp, education")
    meta(name="description" content="Цвета и шрифты, используемые для сайта Toxin")
  body
    .container
      .logo-container
        +logo()

      main.wrapper
        .colors-description-list-container
          ul.colors-description-list
            li.colors-description-list__item
              +color-description({
                title: 'Dark Shade 100%',
                hex: '#1F2041',
                style: {'background-color': '#1F2041'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Dark Shade 75%',
                hex: '#1F2041',
                style: {'background-color': '#1F2041', 'opacity': '0.75'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Dark Shade 50%',
                hex: '#1F2041',
                style: {'background-color': '#1F2041', 'opacity': '0.5'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Dark Shade 25%',
                hex: '#1F2041',
                style: {'background-color': '#1F2041', 'opacity': '0.25'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Dark Shade 5%',
                hex: '#1F2041',
                style: {'background-color': '#1F2041', 'opacity': '0.05'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Purple',
                hex: '#BC9CFF',
                style: {'background-color': '#BC9CFF'}
                })
            li.colors-description-list__item
              +color-description({
                title: 'Green',
                hex: '#6FCF97',
                style: {'background-color': '#6FCF97'}
                })

        .type-description-list-container
          ul.type-description-list
            li.type-description-list__item
              +type-description({
                title: 'H1',
                tag: 'H1',
                description: 'This one is the sub-section or widget title',
                style: {'font-size': '24px', 'width': '520px'}
                })
            li.type-description-list__item
              +type-description({
                title: 'H2',
                tag: 'H2',
                description: 'Next one is the item title inside widgets',
                style: {'font-size': '19px', 'width': '450px'}
                })
            li.type-description-list__item
              +type-description({
                title: 'H3',
                tag: 'H3',
                description: 'This is a label or CTA text',
                style: {'font-size': '12px', 'text-transform': 'uppercase'}
                })
            li.type-description-list__item
              +type-description({
                title: 'Body',
                tag: 'div',
                description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
                style: {'font-size': '14px', 'width': '380px', 'line-height': '24px'}
                })