@import 'normalize.css';
@import '~components/logo/logo';
@import '~components/color/color';
@import '~components/type/type';

.colors-and-type {
  @include body-font;

  color: $dark-shade-100;
  background-color: #fff;

  &__container {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__logo-container {
    margin: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__colors-description-list-container {
    margin-top: 33px;
    margin-left: 150px;
  }

  &__colors-description-list {
    @include margin-padding-zero;

    list-style-type: none;

    &__item {
      margin-bottom: 20px;
    }
  }

  &__type-description-list-container {
    margin-top: 17px;
    margin-right: 82px;
  }

  &__type-description-list {
    @include margin-padding-zero;

    list-style-type: none;

    &__item {
      margin-bottom: 51px;
    }
  }
}
