include ../../components/logo/logo
include ../../components/color/color
include ../../components/type/type

doctype html
html(lang="en")
  head
    title Colors & Type
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="Colors & Type, components, MetaLamp, education")
    meta(name="description" content="Цвета и шрифты, используемые для сайта Toxin")
  body
    .colors-and-type-container
      .colors-and-type-logo-container
        +logo()

      main.colors-and-type-wrapper
        .colors-and-type-colors-description-list-container
          -
            let colors = [
              ['Dark Shade 100%', '#1F2041'],
              ['Dark Shade 75%', '#1F2041'],
              ['Dark Shade 50%', '#1F2041'],
              ['Dark Shade 25%', '#1F2041'],
              ['Dark Shade 5%', '#1F2041'],
              ['Purple', '#BC9CFF'],
              ['Green', '#6FCF97']
            ];

          ul.colors-and-type-colors-description-list
            each val in colors
              li.colors-and-type-colors-description-list__item
                +color({
                  title: val[0],
                  hex: val[1]
                  })

        .colors-and-type-type-description-list-container
          -
            let types = [
              ['H1', 'This one is the sub-section or widget title'],
              ['H2', 'Next one is the item title inside widgets'],
              ['H3', 'This is a label or CTA text'],
              ['Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.']
            ];

          ul.colors-and-type-type-description-list
            each val in types
              li.colors-and-type-type-description-list__item
                +type({
                  title: val[0],
                  description: val[1]
                  })