@import '../../components/logo/logo';
@import '../../components/color-description/color-description';
@import '../../components/type-description/type-description';

html {
  background-color: #fff;
  color: #1F2041;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.logo-container {
  margin: 30px 0 0 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.colors-description-list-container {
  margin: 63px 0 0 150px;
}

.colors-description-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.type-description-list-container {
  margin: 47px 82px 0 0;
}

.type-description-list {
  list-style-type: none;
  padding: 0;

  &__item {
    margin: 0 0 52px 0;
    padding: 0;
  }
}