include ../../components/logo/logo
include ../../components/color/color
include ../../components/type/type
include ../../templates/vars-and-mixins

doctype html
html(lang="en")
  head
    title Colors & Type
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="Colors & Type, components, MetaLamp, education")
    meta(name="description" content="Цвета и шрифты, используемые для сайта Toxin")
  body
    .colors-and-type-container
      .colors-and-type-logo-container
      +logo({
        href: 'index.html',
      })

      main.colors-and-type-wrapper
        .colors-and-type-colors-description-list-container
          ul.colors-and-type-colors-description-list
            each val in colors
              li.colors-and-type-colors-description-list__item
                +color({
                  title: val[0],
                  hex: val[1],
                })

        .colors-and-type-type-description-list-container
          ul.colors-and-type-type-description-list
            each val in types
              li.colors-and-type-type-description-list__item
                +type({
                  title: val[0],
                  description: val[1],
                })