@import '~components/logo/logo';
@import '~components/color/color';
@import '~components/type/type';

.colors-and-type {
  @include body-font;

  color: $dark-shade-100;
  background-color: #fff;

  &__body {
    @include margin-padding-zero;
  }

  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__logo-container {
    margin: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__colors-description-list-container {
    margin: 33px 0 0 150px;
  }

  &__colors-description-list {
    @include margin-padding-zero;

    list-style-type: none;

    &__item {
      margin-bottom: 20px;
      padding: 0;
    }
  }

  &__type-description-list-container {
    margin: 17px 82px 0 0;
  }

  &__type-description-list {
    list-style-type: none;
    padding: 0;

    &__item {
      margin-bottom: 51px;
      padding: 0;
    }
  }
}