include ../logo/logo
include ../subscription-text-field/subscription-text-field
include ../social-icons/social-icons

mixin footer()
  footer.footer
    .footer__top-section-container
      .footer__top-section-wrapper
        .footer__first-section
          +logo({isColorful: true})
          .footer__first-section-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__items-section
          .footer__second-section
            ul.footer__list
              li.footer__list-item
                h3.footer__title Навигация
              each val in ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
                li.footer__list-item
                  a.footer__link(
                    href="/mock-address/change-me"
                  )=val
          .footer__third-section
            ul.footer__list
              li.footer__list-item
                h3.footer__title О нас
              each val in ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
                li.footer__list-item
                  a.footer__link(
                    href="/mock-address/change-me"
                  )=val
          .footer__fourth-section
            ul.footer__list
              li.footer__list-item
                h3.footer__title Служба поддержки
              each val in ['Соглашения', 'Сообщества', 'Связь с нами']
                li.footer__list-item
                  a.footer__link(
                    href="/mock-address/change-me"
                  )=val
        .footer__fifth-section
          h3.footer__subscription-title Подписка
          form.footer__subscription-form
            .footer__subscription-text Получайте специальные предложения и новости сервиса
            +subscription-text-field()
    .footer__bottom-section-wrapper
      .footer__copyright-text Copyright &#169; 2018 Toxin отель. Все права защищены.
      .footer__social-icons-container
        +social-icons()