@import '../../templates/vars-and-mixins';

.footer {
  flex: 0 0 auto;
  width: 100%;
  min-height: 443px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__top-section-container {
    width: 100%;
    border-bottom: 1px solid $Dark-Shade-5;
  }

  &__top-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $max-width;
    min-height: 372px;
    margin: 0 auto;
    padding: 100px 140px 40px 140px;
    box-sizing: border-box;

    @media screen and (max-width: 1439px) {
      padding: 100px 35px 40px 35px;
    }

    @media screen and (max-width: 1024px) {
      padding: 100px 15px 40px 15px;
    }
  }

  &__list {
    @include margin-padding-zero();
  }

  &__list-item  {
    @include Body-font();
    display: block;
    margin-bottom: 20px;
    line-height: 17px;
    color: $Dark-Shade-50;
    cursor: pointer;
  }

  &__title {
    @include H3();
    line-height: 22px;
    color: #000;
    cursor: default;
  }

  &__first-section  {
    max-width: 260px;
    box-sizing: border-box;

    @media screen and (max-width: 1280px) {
      margin: 40px 0 0 80px;
      order: 1;
    }
  }

  &__first-section-text {
    @include Body-font();
    margin-top: 13px;
    line-height: 24px;
  }

  &__items-section {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex: 1;

    @media screen and (max-width: 1280px) {
      flex-basis: 100%;
      order: 0;
    }
  }

  &__second-section  {
    margin-left: 40px;
    box-sizing: border-box;

    @media screen and (max-width: 1280px) {
      margin-left: 0;
    }
  }

  &__third-section {
    margin-left: 58px;
    box-sizing: border-box;
  }

  &__fourth-section {
    margin-left: 92px;
    box-sizing: border-box;
  }

  &__fifth-section {
    max-width: 260px;
    margin-left: 52px;
    box-sizing: border-box;

    @media screen and (max-width: 1280px) {
      order: 2;
      margin: 40px 80px 0 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $Dark-Shade-50;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__subscription-title {
    @include H3();
    line-height: 22px;
    color: #000;
    cursor: default;
  }

  &__subscription-text {
    @include Body-font();
    margin: 16px 0 22px 0;
    line-height: 24px;
    cursor: default;
  }

  &__bottom-section-wrapper {
    @include flex-between-center();
    max-width: $max-width;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 140px;
    box-sizing: border-box;

    @media screen and (max-width: 1439px) {
      padding: 0 35px;
    }
  }

  &__copyright-text {
    @include Body-font();
  }

  &__social-icons-container {
    padding: 2px 2px 0 0;
  }
}