@import '~templates/mixins';
@import '~constants/consts';

.footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: #fff;

  @include media-max($md) {
    & > :not(&__mobile) {
      display: none;
    }

    min-height: 367px;
  }

  &_mobile {
    max-width: 768px;
  }

  &_mobile > &__desktop-wrapper {
    display: none;
  }

  &__top-section-container {
    width: 100%;
    border-bottom: 1px solid $dark-shade-5;
  }

  &__top-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $max-width;
    min-height: 372px;
    margin: 0 auto;
    padding: 100px 140px 40px;
    box-sizing: border-box;

    @include media-max($xxl) {
      padding: 100px 35px 40px;
    }

    @include media-max($xl) {
      padding: 100px 15px 40px;
    }
  }

  &__list {
    @include margin-padding-zero;
  }

  &__list-item  {
    @include body-font;

    display: block;
    margin-bottom: 20px;
    line-height: 17px;
    color: $dark-shade-50;
    cursor: pointer;
  }

  &__title {
    @include h3;

    line-height: 22px;
    color: #000;
    cursor: default;
  }

  &__first-section  {
    flex-basis: 260px;

    @include media-max($xl) {
      flex-basis: 30%;
      margin: 40px 0 0 15px;
      order: 1;
    }
  }

  &__first-section-text {
    @include body-font;

    margin-top: 13px;
    line-height: 24px;
  }

  &__items-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 560px;
    white-space: nowrap;

    @include media-max($xl) {
      flex-basis: 100%;
      max-width: 100%;
      justify-content: center;
      order: 0;
    }
  }

  &__second-section  {
    @include media-max($xl) {
      margin-right: 60px;
    }
  }

  &__third-section {
    margin-right: 32px;

    @include media-max($xl) {
      margin-right: 60px;
    }
  }

  &__fourth-section {
    margin-right: 12px;
  }

  &__fifth-section {
    flex-basis: 260px;

    @include media-max($xl) {
      flex-basis: 30%;
      order: 2;
      margin: 40px 15px 0 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $dark-shade-50;
  }

  &__link:hover {
    color: $dark-shade-75;
  }

  &__subscription-title {
    @include h3;

    line-height: 22px;
    color: #000;
    cursor: default;
  }

  &__subscription-text {
    @include body-font;

    margin: 16px 0 22px;
    line-height: 24px;
    cursor: default;
  }

  &__bottom-section-wrapper {
    @include flex-between-center;

    max-width: $max-width;
    min-height: 70px;
    margin: 0 auto;
    padding: 0 140px;

    @include media-max($xxl) {
      padding: 0 35px;
    }
  }

  &__copyright-text {
    @include body-font;
  }

  &__social-icons-container {
    padding: 2px 2px 0 0;
  }

  &__mobile {
    @include width(320px, $md);
    
    flex: 0 0 auto;
    flex-direction: column;
    display: none;
    background-color: #fff;
    min-height: 367px;

    @include media-max($md) {
      @include flex-center;
    }

    &-text {
      @include body-font;

      margin: 23px 0;
      line-height: 17px;
      text-align: center;
    }
  }

  &_mobile > &__mobile {
    @include flex-center;
  }
}