include ../logo/logo
include ../subscription-text-field/subscription-text-field
include ../social-icons/social-icons

mixin footer()
  footer.footer-block
    .footer-block__top-section-container
      .footer-block__top-section-wrapper
        .footer-block__first-section 
          +logo({isColorful: true})
          .footer-block__first-section-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-block__items-section
          .footer-block__second-section 
            ul.footer-block__list
              li.footer-block__list-item 
                span.footer-block__title Навигация
              each val in ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
          .footer-block__third-section 
            ul.footer-block__list
              li.footer-block__list-item  
                span.footer-block__title О нас
              each val in ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
          .footer-block__fourth-section
            ul.footer-block__list
              li.footer-block__list-item  
                span.footer-block__title Служба поддержки
              each val in ['Соглашения', 'Сообщества', 'Связь с нами']
                li.footer-block__list-item
                  a.footer-block__link(
                    href="/mock-address/change-me"
                  )=val
        .footer-block__fifth-section
          span.footer-block__subscription-title Подписка
          form.footer-block__subscription-form
            .footer-block__subscription-text Получайте специальные предложения и новости сервиса
            +subscription-text-field({style: {'width': '267px'}})
    .footer-block__bottom-section-wrapper
      .footer-block__copyright-text Copyright &#169 2018 Toxin отель. Все права защищены.
      .footer-block__social-icons-container 
        +social-icons()


