include ../../components/header/header
include ../../components/registration-card/registration-card
include ../../components/entry-card/entry-card
include ../../components/footer/footer
include ../../components/footer-mobile/footer-mobile
include ../../templates/vars-and-mixins

doctype html
html(lang="en")
  +pageBase({
    title: 'Registration and sign in',
    keywords: 'Registration and sign in, components, MetaLamp, education',
    description: 'Отель Toxin, подобрать номер',
  })
  body
    .registration-and-sign-in-wrapper
      +header()
      main.registration-and-sign-in-background-container
        .registration-and-sign-in-card-container
          .registration-card-wrapper.js-registration-card-wrapper
            +registration-card({
              buttonText: 'Зарегистрироваться',
            })
          .entry-card-wrapper.js-entry-card-wrapper
            +entry-card()
      +footer()
      +footer-mobile()