@import '../../templates/vars-and-mixins';

.entry-card {
  max-width: 380px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 400px) {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  &__title {
    @include H1();
    margin: 39px 29px 0 29px;

    @media screen and (max-width: 480px) {
      text-align: center;
      font-size: 20px;
    }
  }

  &__wrapper {
    padding: 21px 29px 31px 29px;

    @media screen and (max-width: 400px) {
      padding: 21px 10px 31px 10px;
    }
  }

  &__inputs-container {
    width: 100%;
  }

  &__input-wrapper {
    margin-bottom: 10px;
  }

  &__long-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__registration-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    margin-top: 30px;

    @media screen and (max-width: 480px) {
      justify-content: center;
    }
  }

  &__registration-text {
    @include Body-font();

    @media screen and (max-width: 480px) {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}