include ../text-field/text-field
include ../button/button

mixin entry-card()
  .entry-card
    h1.entry-card__title Войти
    .entry-card__wrapper
      form.entry-card__form
        .entry-card__inputs-container
          each val in [['Email', 'email'], ['Пароль', 'password']]
            .entry-card__input-wrapper
              +text-field({
                placeholder: val[0],
                type: val[1],
              })
        .entry-card__long-button-wrapper
          +button({
            longButton: true,
            text: 'Войти',
            type: 'submit',
          })
        .entry-card__registration-wrapper
          .entry-card__registration-text Нет аккаунта на Toxin?
          +button({
            emptyButton: true,
            text: 'Создать',
            href: 'registration-and-sign-in.html',
          })