include ../text-field/text-field
include ../button/button

mixin entry-card()
  .entry-block.js-entry-block
    h1.entry-block__title Войти
    .entry-block__wrapper 
      form.entry-block__form
        .entry-block__data-inputs-container
          .entry-block__data-input-container
            +text-field({
              placeholder: 'Email',
              type: 'email'
              })
          .entry-block__data-input-container
            +text-field({
              placeholder: 'Пароль',
              type: 'password'
              })
        .entry-block__button-container 
          +button({
            longButton: true, 
            text: 'Войти', 
            type: 'submit'
            })
        .entry-block__login-container
          .entry-block__login-text Нет аккаунта на Toxin? 
          +button({
            emptyButton: true, 
            text: 'Создать', 
            href: 'registration-and-sign-in.html'
            })