mixin social-icons(options = {})
  -
    const socials = options.socials;

  .social-icons
    each val in socials
      a(class="social-icons__link" href=`https://${val}.com/` target="_blank" rel="noopener noreferrer")
        .social-icons__image(style=`background-image: url(${require('../../img/' + val + '.svg')});`)