mixin social-icons()
  -
    const socials = ['twitter', 'facebook', 'instagram'];

  .social-icons
    each val in socials
      a(class="social-icons__link" href=`https://${val}.com/` target="_blank" rel="noopener noreferrer")
        div(class="social-icons__image" style=`background-image: url(${require('../../img/' + val + '.svg')});`)