.social-icons {
  &__link {
    display: inline-block;
    padding-left: 19px;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  &__image {
    @include background-position(contain);

    width: 24px;
    height: 24px;
  }
}