.social-icons {

  &__link{
    display: inline-block;
    padding-left: 22px;
    text-decoration: none;
  }

  &__link:first-child {
    padding-left: 0;
  }

  &__image {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__image:first-child {
    padding: 0;
  }
}