@import '../../templates/vars-and-mixins';

.room-card {
  @include width(250px, 270px);
  position: relative;
  height: 257px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $Dark-Shade-5;
  border-radius: 4px;

  &__slider:hover > &__arrow-prev,
  &__slider:hover > &__arrow-next {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  &__image-container {
    width: 100%;
    height: 151px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }

  &__arrow-prev, &__arrow-next{
    position: absolute;
    width: 42px;
    height: 151px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;
  }

  &__arrow-prev {
    top: 0;
    left: 0;
  }

  &__arrow-next {
    top: 0;
    right: 0;
  }

  &__arrow-prev::after, &__arrow-next::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    border-width: 0 3px 3px 0;
    box-sizing: border-box;
  }

  &__arrow-prev::after {
    left: 18px;
    transform: rotate(135deg);
  }

  &__arrow-next::after {
    right: 18px;
    transform: rotate(-45deg);
  }

  &__information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 20px 0 20px;
    padding-bottom: 11px;
    box-sizing: border-box;
    border-bottom: 1px solid $Dark-Shade-10;
  }

  &__number-symbol {
    @include Body-font();
    font-weight: bold;
    color: $Dark-Shade-100;
  }

  &__room-number {
    @include H2();
  }

  &__lux-mark {
    display: inline-block;
    margin-left: 6px;
  }

  &__price {
    @include Body-font();
    display: inline-block;
    padding-bottom: 1px;
    font-weight: bold;
    color: $Dark-Shade-50;
  }

  &__time-interval {
    font-weight: normal;
    font-size: 12px;
  }

  &__rate {
    @include flex-between-center();
    margin: 10px 21px 0 21px;
  }

  &__reviews-number {
    @include Body-font();
    font-weight: bold;
    color: $Dark-Shade-50;
  }

  &__reviews-number-text {
    font-weight: normal;
  }

  &__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px 4px 0 0;
  }
}