@import '~templates/vars-and-mixins';

.checkbox-button {
  &__container {
    margin-bottom: 10px;
  }

  &__title {
    @include h3;

    margin-bottom: 17px;
  }

  &__label {
    display: inline-flex;
    min-height: 20px;
    cursor: pointer;
  }

  &__text_regular {
    @include width(200px, 240px);
    @include body-font;

    display: inline-flex;
    padding-left: 30px;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
  }

  &__text-title {
    @include h3;

    padding: 0 0 5px 30px;
    font-size: 14px;
    text-transform: none;
    color: $dark-shade-75;
  }

  &__text {
    @include body-font;

    max-width: 192px;
    padding-left: 30px;
    color: $dark-shade-50;
    line-height: 20px;
  }

  &__input {
    position: absolute;
    appearance: none;
  }

  &__input:checked + &__custom-input::after {
    content: '';
    display: block;
    width: 6px;
    height: 8px;
    margin: 0 0 2px 1px;
    border: 1px solid transparent;
    border-image: $gradient;
    border-image-slice: 1;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
    transform: rotate(45deg);
    z-index: 10;
  }

  &__custom-input {
    @include inline-flex-center;

    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__input:checked + &__custom-input {
    border: 1px solid $purple;
  }

  &__input:not(:checked) ~ &__custom-input {
    border: 1px solid $dark-shade-25;
  }

  &__label:hover > &__input:not(:checked) + &__custom-input {
    border: 1px solid $dark-shade-50;
  }
}