include ../../components/logo/logo
include ../../components/search-card/search-card
include ../../components/registration-card/registration-card
include ../../components/reserve-card/reserve-card
include ../../components/sign-in-card/sign-in-card
include ../../components/room-card/room-card
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../templates/vars-and-mixins

doctype html
html(lang="ru")
  +pageBase({
    title: 'Cards',
    keywords: 'Cards, components, MetaLamp, education',
    description: 'Компоненты карточек для сайта Toxin',
  })
  body
    .cards-container
      .cards-logo-container
        +logo({
          href: 'index.html',
        })

      .cards-left-block
        +search-card()

        .cards-registration-block-container
          +registration-card({
            buttonText: 'Перейти к оплате',
          })

      .cards-central-block
        +reserve-card({
          roomNumber: '888',
          price: '9 900',
          totalSum: '38 081',
          dateFrom: '2019, 8, 15',
          dateTo: '2019, 8, 19',
          dropdownButtonsNum: [0, 1],
          dropdownClicksNum: [2, 1],
        })

        .cards-sign-in-block-container
          +sign-in-card()

      .cards-right-block
        .cards-date-dropdown-container
          +filter-date-dropdown({
            isHidden: true,
            isOpened: true,
            dateFrom: '2019, 8, 19',
            dateTo: '2019, 8, 23',
          })

        .cards-room-cards-container
          each roomCard in roomCards
            -
              const {
                photos,
                number,
                price,
                starsNumber,
                checkedButton,
                reviewsNumber,
                isLux,
                isSlickArrows
              } = roomCard;
            +room-card({
              photos,
              number,
              price,
              starsNumber,
              checkedButton,
              reviewsNumber,
              isLux,
              isSlickArrows,
            })