@import '../../libs/slick-carousel/slick-carousel';
@import '../../libs/air-datepicker/air-datepicker';
@import '../../components/logo/logo';
@import '../../components/search-card/search-card';
@import '../../components/text-field/text-field';
@import '../../components/radio-buttons/radio-buttons';
@import '../../components/masked-text-field/masked-text-field';
@import '../../components/toggle-button/toggle-button';
@import '../../components/registration-card/registration-card';
@import '../../components/date-dropdown/date-dropdown';
@import '../../components/dropdown/dropdown';
@import '../../components/button/button';
@import '../../components/reserve-card/reserve-card';
@import '../../components/sign-in-card/sign-in-card';
@import '../../components/rate-button/rate-button';
@import '../../components/room-card/room-card';
@import '../../components/filter-date-dropdown/filter-date-dropdown';
@import '../../templates/vars-and-mixins';

html {
  color: $Dark-Shade-100;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
}

html, body {
  @include margin-padding-zero();
  background: #E5E5E5;
  min-height: 1350px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: 0 auto;
}

.cards-logo-container {
  width: 100%;
  margin: 30px 0 0 30px;
}

.cards-left-block {
  max-width: 380px;
  margin: 70px 0 0 140px;
}

.cards-registration-block-container {
  margin-top: 40px;
}

.cards-central-block {
  width: 380px;
  margin: 70px 0 0 40px;
}

.cards-sign-in-block-container {
  margin-top: 40px;
}

.cards-right-block {
  width: 320px;
  margin-left: 40px;
  margin-top: 7px;
}

.cards-room-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 421px;
  height: 554px;
}